$colours:
  brands-adobe-orange #fbb034,
  brands-adobe-yellow #fd0,
  brands-adobe-light-green #c1d82f,
  brands-adobe-light-blue #00a4e4,
  brands-adobe-gray #8a7967,
  brands-adobe-bluish-gray #6a737b,
  brands-alphabet-red #ed1c24,
  brands-amazon-blue #146eb4,
  brands-android-green #a4c639,
  brands-bing-orange #ffb900,
  brands-bing-gray #505050,
  brands-bing-light-gray #a3a3a3,
  brands-carrefour-blue #00387b,
  brands-carrefour-red #bb1e10,
  brands-carrefour-orange #f67828,
  brands-carrefour-green #237f52,
  brands-dell-blue #0085c3,
  brands-dell-green #7ab800,
  brands-dell-orange #f2af00,
  brands-dell-pale-red #dc5034,
  brands-dell-red #ce1126,
  brands-dell-pink #b7295a,
  brands-dell-purple #6e2585,
  brands-dell-light-greenish-blue #71c6c1,
  brands-dell-greenish-blue #5482ab,
  brands-dell-vivid-greenish-blue #009bbb,
  brands-dell-gray #444,
  brands-deviantart-green #05cc47,
  brands-deviantart-pale-green #4dc47d,
  brands-deviantart-black #181a1b,
  brands-dropbox-blue #007ee5,
  brands-dropbox-gray #7b8994,
  brands-dropbox-bluish-gray #47525d,
  brands-dropbox-dark-bluish-gray #3d464d,
  brands-ebay-red #e53238,
  brands-ebay-blue #0064d2,
  brands-ebay-orange #f5af02,
  brands-ebay-green #86b817,
  brands-facebook-blue #3b5998,
  brands-fedex-purple #609,
  brands-fedex-orange #f60,
  brands-fedex-green #0c0,
  brands-fedex-blue #09c,
  brands-fedex-red #f03,
  brands-fedex-yellow #fc0,
  brands-flickr-blue #0063dc,
  brands-flickr-pink #ff0084,
  brands-ford-blue #1c396d,
  brands-github-blue #4183c4,
  brands-github-gray #999,
  brands-github-dark-gray #666,
  brands-github-darker-gray #333,
  brands-github-green #6cc644,
  brands-github-red #bd2c00,
  brands-github-orange #f93,
  brands-godaddy-green #7db701,
  brands-godaddy-orange #ff8a00,
  brands-google-blue #4285f4,
  brands-google-green #34a853,
  brands-google-yellow #fbbc05,
  brands-google-red #ea4335,
  brands-google-plus-red #dc4e41,
  brands-groupon-green #82b548,
  brands-hp-blue #0096d6,
  brands-hp-red #d7410b,
  brands-ibm-blue #069,
  brands-instagram-blue #3f729b,
  brands-ios-light-blue #5fc9f8,
  brands-ios-yellow #fecb2e,
  brands-ios-orange #fd9426,
  brands-ios-pale-red #fc3158,
  brands-ios-blue #147efb,
  brands-ios-green #53d769,
  brands-ios-vivid-red #fc3d39,
  brands-ios-gray #8e8e93,
  brands-laravel-red #f55247,
  brands-linkedin-light-blue #0077b5,
  brands-linkedin-dark-gray #313335,
  brands-linkedin-gray #86888a,
  brands-linkedin-light-gray #caccce,
  brands-linkedin-blue #00a0dc,
  brands-linkedin-pale-purple #8d6cab,
  brands-linkedin-red #dd5143,
  brands-linkedin-orange #e68523,
  brands-mastercard-red #c00,
  brands-mastercard-orange #f90,
  brands-mastercard-blue #006,
  brands-mcdonalds-red #bf0c0c,
  brands-mcdonalds-orange #e76a05,
  brands-mcdonalds-yellow #ffc600,
  brands-mcdonalds-green #47bc00,
  brands-mcdonalds-blue #05007b,
  brands-mcdonalds-pink #9748a8,
  brands-mcdonalds-light-blue #2bb3f3,
  brands-mcdonalds-dark-orange #865200,
  brands-microsoft-orange #f65314,
  brands-microsoft-green #7cbb00,
  brands-microsoft-blue #00a1f1,
  brands-microsoft-light-orange #fb0,
  brands-netflix-red #e50914,
  brands-netflix-dark-gray #221f1f,
  brands-netflix-white #f5f5f1,
  brands-nike-football-gray #504847,
  brands-nike-football-green #27a770,
  brands-nvidia-green #76b900,
  brands-opera-red #cc0f16,
  brands-opera-gray #9c9e9f,
  brands-oracle-red #f00,
  brands-oracle-gray #7f7f7f,
  brands-paypal-blue #003087,
  brands-paypal-light-blue #009cde,
  brands-paypal-vivid-blue #012169,
  brands-pepsi-red #e32934,
  brands-pepsi-blue #004883,
  brands-philips-blue #0e5fd8,
  brands-php-pale-blue #8892be,
  brands-php-pale-dark-blue #4f5b93,
  brands-php-pale-green #9c9,
  brands-pizza-hut-red #ee3124,
  brands-pizza-hut-green #00a160,
  brands-pizza-hut-orange #ffc425,
  brands-rolls-royce-red #680021,
  brands-rolls-royce-white #fffaec,
  brands-rolls-royce-gray #939598,
  brands-samsung-blue #1428a0,
  brands-samsung-gray #75787b,
  brands-samsung-light-blue #0689d8,
  brands-samsung-orange #ff6900,
  brands-samsung-red #e4002b,
  brands-samsung-pink #c800a1,
  brands-samsung-purple #685bc7,
  brands-samsung-vivid-blue #0057b8,
  brands-samsung-light-vivid-blue #00a9e0,
  brands-samsung-greenish-blue #009ca6,
  brands-samsung-green #00b140,
  brands-skype-blue #00aff0,
  brands-soundcloud-orange #f80,
  brands-soundcloud-red #f30,
  brands-spotify-green #2ebd59,
  brands-starbucks-green #00704a,
  brands-subway-dark-green #00543d,
  brands-subway-yellow #fef035,
  brands-subway-green #489e3b,
  brands-subway-orange #fabd42,
  brands-subway-red #cd0a20,
  brands-t-mobile-pink #e20074,
  brands-telegram-blue #08c,
  brands-tumblr-blue #35465c,
  brands-twitter-blue #55acee,
  brands-uber-black #09091a,
  brands-uber-gray #c0c0c8,
  brands-uber-blue #1fbad6,
  brands-ubuntu-orange #dd4814,
  brands-ubuntu-pink #77216f,
  brands-ubuntu-dark-pink #5e2750,
  brands-ubuntu-darker-pink #2c001e,
  brands-ubuntu-gray #aea79f,
  brands-unity-dark-blue #222c37,
  brands-unity-greenish-blue #0cc,
  brands-unity-yellow #fff600,
  brands-unity-pink #f06,
  brands-unity-green #19e3b1,
  brands-unity-orange #ff7f33,
  brands-unity-dark-pink #b83c82,
  brands-vimeo-dark-blue #162221,
  brands-vimeo-light-blue #1ab7ea,
  brands-vine-green #00b488,
  brands-vodafone-red #e60000,
  brands-vodafone-gray #4a4d4e,
  brands-vodafone-dark-pink #5e2750,
  brands-vodafone-light-blue #00b0ca,
  brands-vodafone-greenish-blue #007c92,
  brands-vodafone-greenish-yellow #a8b400,
  brands-vodafone-orange #fecb00,
  brands-vodafone-dark-orange #eb9800,
  brands-volvo-blue #003057,
  brands-volvo-green #115740,
  brands-volvo-gray #65665c,
  brands-volvo-pale-blue #425563,
  brands-volvo-greenish-pale-blue #517891,
  brands-volvo-dark-green #212721,
  brands-whatsapp-green #43d854,
  brands-wordpress-blue #21759b,
  brands-wordpress-orange #d54e21,
  brands-wordpress-gray #464646,
  brands-yahoo-purple #410093,
  brands-youtube-red #cd201f,
  white #fff,
  black #000,
  gray #808080,
  lightgray #d3d3d3,
  transparent transparent,

  mcs-medsol-aqua #29afb1,
  mcs-medsol-brown #565249,
  mcs-medsol-light-aqua #8dc9ca,
  mcs-medsol-pale-blue #83abc5,

  mcs-blue #0b486b,
  mcs-bluish-green #3c8687,
  mcs-brownish-gray #beb9ad,
  mcs-cyan #69d3e8,
  mcs-dark-gray #343434,
  mcs-dark-pink #601849,
  mcs-dark-red #9a0100,
  mcs-gray #383636,
  mcs-green #283338,
  mcs-greenish-cyan #a7dcd8,
  mcs-light-blue #44749e,
  mcs-light-gray #ece8e1,
  mcs-light-green #7abe9b,
  mcs-light-purple #480048,
  mcs-lighter-blue #c7d5e2,
  mcs-lighter-gray #e9e9e9,
  mcs-lightert-green #a9dca8,
  mcs-lightest-green #cff09e,
  mcs-orange #f48630,
  mcs-pale-light-yellow #e1e5cd,
  mcs-pale-orange #f07341,
  mcs-pale-red #c14848,
  mcs-pale-yellow #fff3bc,
  mcs-purple #310031,
  mcs-vivid-orange #ff5b0c,
  mcs-vivid-red #ba0503,
  mcs-warm-gray #806f66,
  mcs-white-smoke #f7f7f7,

  kazuo-red #d34140,
  kazuo-dark-red #bc4141,
  kazuo-black #262222,
  kazuo-gray #d8d8d8,
  kazuo-light-gray #eaeaea,

  sitcor-blue #3a4d72,
  sitcor-pale-blue #56667e,
  sitcor-dark-blue #37486a,
  sitcor-darker-blue #323c52,

  brasil-dark-green #040,
  brasil-yellow #faef0c,
  brasil-light-gray #fdfdfd,
  brasil-gray #eee,
  brasil-dark-blue #293137,

  bs-blue #0373d8,
  bs-hover-blue #025aa5,
  bs-green #5cb85c,
  bs-hover-green #449d43,
  bs-cyan #5bc0de,
  bs-hover-cyan #31b0d5,
  bs-orange #efad4e,
  bs-hover-orange #ec971e,
  bs-red #d9534f,
  bs-hover-red #c9302c;
