/*!********************************************************************************
 ****** MainCS Turbo Turtle v2 (http://turboturtle.maincreativesolutions.com/maincs-turbo-turtle.full.min.css)
 ****** Copyright 2014-2016 Main Creative Solutions.
 ************************************************************************************
 ****** This framewok contain classes for a real lot of great things, give it a try.
 ****** The default font is Lato.
 ************************************************************************************
 ****** Author: Diego Barreto & Marcus Venâncio - Main Creative Solution
 *********************************************************************************** */
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
a,
b,
body,
button,
caption,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
label,
legend,
li,
ol,
p,
small,
strong,
table,
tbody,
td,
th,
thead,
ul {
    font-family: "Lato", sans-serif !important;
}
/****** Text Weight ****** */
.text-weight-thin {
    font-weight: 100;
}
.text-weight-light {
    font-weight: 300;
}
.text-weight-normal {
    font-weight: 400;
}
.text-weight-bold {
    font-weight: 700;
}
.text-weight-bolder {
    font-weight: 900;
}
/****** Text Style ****** */
.text-italic {
    font-style: italic;
}
.text-normal {
    font-style: normal;
}
.text-oblique {
    font-style: oblique;
}
/****** Text Align ****** */
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
/****** Opacity ****** */
@for $i from 0 through 100 {
    .opacity-#{$i} {
        opacity: #{$i / 100};
    }
}
/****** Border Solid ****** */
.border-solid-thin {
    border: 1px solid;
}
.border-solid-normal {
    border: 3px solid;
}
.border-solid-fat {
    border: 5px solid;
}
.border-solid-extra {
    border: 7px solid;
}
/****** Border Dot ****** */
.border-dot-thin {
    border: 1px dotted;
}
.border-dot-normal {
    border: 3px dotted;
}
.border-dot-fat {
    border: 5px dotted;
}
.border-dot-extra {
    border: 7px dotted;
}
/****** Border Solid Left ****** */
.border-left-solid-thin {
    border-left: 1px solid;
}
.border-left-solid-normal {
    border-left: 3px solid;
}
.border-left-solid-fat {
    border-left: 5px solid;
}
.border-left-solid-extra {
    border-left: 7px solid;
}
/****** Border Dot Left****** */
.border-left-dot-thin {
    border-left: 1px dotted;
}
.border-left-dot-normal {
    border-left: 3px dotted;
}
.border-left-dot-fat {
    border-left: 5px dotted;
}
.border-left-dot-extra {
    border-left: 7px dotted;
}
/****** Border Solid Top ****** */
.border-top-solid-thin {
    border-top: 1px solid;
}
.border-top-solid-normal {
    border-top: 3px solid;
}
.border-top-solid-fat {
    border-top: 5px solid;
}
.border-top-solid-extra {
    border-top: 7px solid;
}
/****** Border Dot Top****** */
.border-top-dot-thin {
    border-top: 1px dotted;
}
.border-top-dot-normal {
    border-top: 3px dotted;
}
.border-top-dot-fat {
    border-top: 5px dotted;
}
.border-top-dot-extra {
    border-top: 7px dotted;
}
/****** Border Solid Right ****** */
.border-right-solid-thin {
    border-right: 1px solid;
}
.border-right-solid-normal {
    border-right: 3px solid;
}
.border-right-solid-fat {
    border-right: 5px solid;
}
.border-right-solid-extra {
    border-right: 7px solid;
}
/****** Border Dot Right****** */
.border-right-dot-thin {
    border-right: 1px dotted;
}
.border-right-dot-normal {
    border-right: 3px dotted;
}
.border-right-dot-fat {
    border-right: 5px dotted;
}
.border-right-dot-extra {
    border-right: 7px dotted;
}
/****** Border Solid Bottom ****** */
.border-bottom-solid-thin {
    border-bottom: 1px solid;
}
.border-bottom-solid-normal {
    border-bottom: 3px solid;
}
.border-bottom-solid-fat {
    border-bottom: 5px solid;
}
.border-bottom-solid-extra {
    border-bottom: 7px solid;
}
/****** Border Dot Bottom****** */
.border-bottom-dot-thin {
    border-bottom: 1px dotted;
}
.border-bottom-dot-normal {
    border-bottom: 3px dotted;
}
.border-bottom-dot-fat {
    border-bottom: 5px dotted;
}
.border-bottom-dot-extra {
    border-bottom: 7px dotted;
}
/****** Border Color ****** */
.border-white {
    border-color: #fff;
}

/****** Border Radius ****** */
@for $i from 1 through 50 {
    .border-radius-#{$i} {
        border-radius: #{$i}px;
    }
    .border-radius-bottom-right-#{$i} {
        border-bottom-right-radius: #{$i}px;
    }
    .border-radius-bottom-left-#{$i} {
        border-bottom-left-radius: #{$i}px;
    }
    .border-radius-top-right-#{$i} {
        border-top-right-radius: #{$i}px;
    }
    .border-radius-top-left-#{$i} {
        border-top-left-radius: #{$i}px;
    }
}
/****** HRow ****** */
@for $i from 0 through 10 {
    .z-pos-#{$i} {
        z-index: #{$i} !important;
    }
    .hrow-#{$i} {
        width: 100%;
        height: #{$i}px;
    }
}
/****** Cursor ****** */
.cursor-all-scroll {
    cursor: all-scroll;
}
.cursor-cell {
    cursor: cell;
}
.cursor-context-menu {
    cursor: context-menu;
}
.cursor-col-resize {
    cursor: col-resize;
}
.cursor-copy {
    cursor: copy;
}
.cursor-crosshair {
    cursor: crosshair;
}
.cursor-e-resize {
    cursor: e-resize;
}
.cursor-ew-resize {
    cursor: ew-resize;
}
.cursor-grab {
    cursor: grab;
}
.cursor-grabbing {
    cursor: grabbing;
}
.cursor-help {
    cursor: help;
}
.cursor-move {
    cursor: move;
}
.cursor-n-resize {
    cursor: n-resize;
}
.cursor-ne-resize {
    cursor: ne-resize;
}
.cursor-nesw-resize {
    cursor: nesw-resize;
}
.cursor-ns-resize {
    cursor: ns-resize;
}
.cursor-nw-resize {
    cursor: nw-resize;
}
.cursor-nwse-resize {
    cursor: nwse-resize;
}
.cursor-no-drop {
    cursor: no-drop;
}
.cursor-none {
    cursor: none;
}
.cursor-not-allowed {
    cursor: not-allowed;
}
.cursor-pointer {
    cursor: pointer;
}
.cursor-progress {
    cursor: progress;
}
.cursor-row-resize {
    cursor: row-resize;
}
.cursor-s-resize {
    cursor: s-resize;
}
.cursor-se-resize {
    cursor: se-resize;
}
.cursor-sw-resize {
    cursor: sw-resize;
}
.cursor-text {
    cursor: text;
}
.cursor-vertical-text {
    cursor: vertical-text;
}
.cursor-w-resize {
    cursor: w-resize;
}
.cursor-wait {
    cursor: wait;
}
.cursor-zoom-in {
    cursor: zoom-in;
}
.cursor-zoom-out {
    cursor: zoom-out;
}
