/***************************************************************************************************
 *******************************************FLEXBOX TUTORIAL******************************************
 *****************************************************************************************************
 *******                                                                                        ******
 *******     A flexbox-container needs to have a specified height to position the elements.     ******
 *******                                                                                        ******
 *******     If you want to use a relative flexbox container, it needs to be inside a sized     ******
 *******     div container.                                                                     ******
 *******                                                                                        ******
 *******     To use the general flexbox container, you need to specify the div size for it      ******
 *******     to work.                                                                           ******
 *******                                                                                        ******
 *******     So if you don't want to put a div inside a div inside another div and another      ******
 *******     use the sized flex containers (.flex-container-##).                                ******
 *******                                                                                        ******
 *****************************************************************************************************
 *******************************************FLEXBOX TUTORIAL******************************************
 *************************************************************************************************** */
/****** FlexBox General ****** */
.flex-container {
    display: flex;
}
/****** FlexBox Items  Justify Items****** */
.flex-container-justify-center {
    justify-content: center;
}
.flex-container-justify-start {
    justify-content: flex-start;
}
.flex-container-justify-end {
    justify-content: flex-end;
}
.flex-container-justify-between {
    justify-content: space-between;
}
.flex-container-justify-around {
    justify-content: space-around;
}
/****** FlexBox Container align item ****** */
.flex-container-align-baseline {
    align-items: baseline;
}
.flex-container-align-start {
    align-items: flex-start;
}
.flex-container-align-end {
    align-items: flex-end;
}
.flex-container-align-stretch {
    align-items: stretch;
}
.flex-container-align-center {
    align-items: center;
}
/****** FlexBox Items ****** */
.flex-item-top {
    align-self: flex-start;
}
.flex-item-center {
    align-self: center;
}
.flex-item-bottom {
    align-self: flex-end;
}
.flex-item-stretch {
    align-self: stretch;
}
/****** FlexBox Items Grow/Shrink ****** */
@for $i from 1 through 20 {
    .flex-grow-#{$i} {
        flex-grow: #{$i};
    }
    .flex-shrink-#{$i} {
        flex-shrink: #{$i};
    }
}
/****** FlexBox Direction ****** */
.flex-direction-row {
    flex-direction: row;
}
.flex-direction-row-reverse {
    flex-direction: row-reverse;
}
.flex-direction-column {
    flex-direction: column;
}
.flex-direction-column-reverse {
    flex-direction: column-reverse;
}
/****** FlexBox Wrap ****** */
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}
