/****** Text, Border, Background and Striped Colors ****** */
@import "_colors";

@each $i in $colours {
    .bg-#{nth($i,1)} {
      background-color: nth($i,2);
    }
    .text-#{nth($i, 1)} {
        color: nth($i, 2);
    }
}
