/****** Text, Border, Background and Striped Colors ****** */
@import "_colors";

@mixin generate-strip-horizontal-bg($color) {
  background: $color linear-gradient(0, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-size: 40px 40px !important;
}
@mixin generate-strip-vertical-bg($color) {
  background: $color linear-gradient(90deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-size: 40px 40px !important;
}
@mixin generate-strip-reverse-bg($color) {
  background: $color linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-size: 40px 40px !important;
}
@mixin generate-strip-bg($color) {
  background: $color linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-size: 40px 40px !important;
}
@mixin generate-chess-bg($color) {
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.2) 75%), linear-gradient(45deg, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.2) 75%), $color;
  background-size: 50px 50px;
}

@each $i in $colours {
    .bg-#{nth($i,1)} {
      background-color: nth($i,2);
    }
    .bg-strip-#{nth($i,1)} {
      @include generate-strip-bg(nth($i,2));
    }
    .bg-strip-reverse-#{nth($i,1)} {
      @include generate-strip-reverse-bg(nth($i,2));
    }
    .bg-horizontal-#{nth($i,1)} {
      @include generate-strip-horizontal-bg(nth($i,2));
    }
    .bg-vertical-#{nth($i,1)} {
      @include generate-strip-vertical-bg(nth($i,2));
    }
    .bg-chess-#{nth($i,1)} {
      @include generate-chess-bg(nth($i,2));
    }
    .text-#{nth($i, 1)} {
        color: nth($i, 2);
    }
    .border-#{nth($i, 1)} {
        border-color: nth($i, 2);
    }
}
