// Container Sizing
$step    : 5;
$from    : ceil( 1 /$step);
$to      : ceil( 2000 /$step);

/****** Height Absolute ****** */
@for $i from $from through $to {
    $i : $i * $step;
    .height-abs-#{$i} {
        height: #{$i}px;
    }
    .max-height-abs-#{$i} {
        max-height: #{$i}px;
    }
    .min-height-abs-#{$i} {
        min-height: #{$i}px;
    }
}
/****** Width Absolute ****** */
@for $i from $from through $to  {
    $i : $i * $step;
    .width-abs-#{$i} {
        width: #{$i}px;
    }
    .max-width-abs-#{$i} {
        max-width: #{$i}px;
    }
    .min-width-abs-#{$i} {
        min-width: #{$i}px;
    }
}



/****** Height Relative ****** */
@for $i from 0 through 150 {
    .height-rel-#{$i} {
        height: round(percentage($i / 100));
    }.max-height-rel-#{$i} {
        max-height: round(percentage($i / 100));
    }.min-height-rel-#{$i} {
        min-height: round(percentage($i / 100));
    }
}
/****** Width Relative ****** */
@for $i from 0 through 150 {
    .width-rel-#{$i} {
        width: round(percentage($i / 100));
    }
    .max-width-rel-#{$i} {
        max-width: round(percentage($i / 100));
    }.min-width-rel-#{$i} {
        min-width: round(percentage($i / 100));
    }
}


/****** Height Viewport Height ****** */
@for $i from 1 through 150 {
    .height-vh-#{$i} {
        height: #{$i}vh;
    }
    .max-height-vh-#{$i} {
        max-height: #{$i}vh;
    }
    .min-height-vh-#{$i} {
        min-height: #{$i}vh;
    }
}
/****** Width Viewport ****** */
@for $i from 1 through 150 {
    .width-vw-#{$i} {
        width: #{$i}vw;
    }
    .max-width-vh-#{$i} {
        max-width: #{$i}vh;
    }
    .min-width-vh-#{$i} {
        min-width: #{$i}vh;
    }
}


// Text Size

.text-xxxl {
    font-size: 32pt;
}
.text-xxl {
    font-size: 24pt;
}
.text-xl {
    font-size: 22pt;
}
.text-lg {
    font-size: 18pt;
}
.text-md {
    font-size: 16pt;
}
.text-sm {
    font-size: 12pt;
}
.text-xs {
    font-size: 10pt;
}
.text-xxs {
    font-size: 8pt;
}
@for $i from 1 through 120 {
    .text-#{$i} {
        font-size: #{$i}pt;
    }
    .text-px-#{$i} {
        font-size: #{$i}px;
    }
    .text-em-#{$i} {
        font-size: #{$i}em;
    }
}


// Image Size (Image)

@function pow($base, $exponent) {
  // reset value
  $value: $base;
  // positive intergers get multiplied
  @if $exponent > 1 {
    @for $i from 2 through $exponent {
      $value: $value * $base; } }
  // negitive intergers get divided. A number divided by itself is 1
  @if $exponent < 1 {
    @for $i from 0 through -$exponent {
      $value: $value / $base; } }
  // return the last value written
  @return $value;
}

@for $i from 1 through 11 {
    .size-square-#{pow(2,$i)} {
        height: #{pow(2,$i)}px;
        width: #{pow(2,$i)}px;
    }
}

.size-square-1920 {
    height: 1920px;
    width: 1920px;
}
.size-square-1600 {
    height: 1600px;
    width: 1600px;
}
.size-square-1280 {
    height: 1280px;
    width: 1280px;
}
.size-square-1080 {
    height: 1080px;
    width: 1080px;
}
.size-square-960 {
    height: 960px;
    width: 960px;
}
.size-square-720 {
    height: 720px;
    width: 720px;
}
.size-square-640 {
    height: 640px;
    width: 640px;
}
.size-square-320 {
    height: 320px;
    width: 320px;
}
