/****** Position ****** */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.sticky {
    top: 0;
    position: sticky;
}
.fixed {
    position: fixed;
}
.static {
    position: static;
}
/****** Display ****** */
.display-hidden {
    display: none;
}
.display-block {
    display: block;
}
.display-inline {
    display: inline;
}
/****** Overflow ****** */
.overflow-x {
    overflow-x: scroll;
}
.overflow-y {
    overflow-y: scroll;
}
.overflow-both {
    overflow-x: scroll;
    overflow-y: scroll;
}
.overflow-hidden-x {
    overflow-x: hidden;
}
.overflow-hidden-y {
    overflow-y: hidden;
}
.overflow-hidden-both {
    overflow-x: hidden;
    overflow-y: hidden;
}

/****** Padding ****** */
@for $i from 0 through 300 {
    .padding-#{$i} {
        padding: #{$i}px;
    }
    .padding-top-#{$i} {
        padding-top: #{$i}px;
    }
    .padding-bottom-#{$i} {
        padding-bottom: #{$i}px;
    }
    .padding-right-#{$i} {
        padding-right: #{$i}px;
    }
    .padding-left-#{$i} {
        padding-left: #{$i}px;
    }
    .padding-lr-#{$i} {
        padding-left: #{$i}px;
        padding-right: #{$i}px;
    }
    .padding-tb-#{$i} {
        padding-top: #{$i}px;
        padding-bottom: #{$i}px;
    }
}
/****** Margin ****** */
@for $i from 0 through 300 {
    .margin-#{$i} {
        margin: #{$i}px;
    }
    .margin-top-#{$i} {
        margin-top: #{$i}px;
    }
    .margin-bottom-#{$i} {
        margin-bottom: #{$i}px;
    }
    .margin-right-#{$i} {
        margin-right: #{$i}px;
    }
    .margin-left-#{$i} {
        margin-left: #{$i}px;
    }
    .margin-lr-#{$i} {
        margin-left: #{$i}px;
        margin-right: #{$i}px;
    }
    .margin-tb-#{$i} {
        margin-top: #{$i}px;
        margin-bottom: #{$i}px;
    }
}
/****** Zindex ****** */
@for $i from -20 through 0 {
    .z-neg-#{$i} {
        z-index: #{$i} !important;
    }
}
.z-null-0 {
    z-index: 0 !important;
}
@for $i from 0 through 20 {
    .z-pos-#{$i} {
        z-index: #{$i} !important;
    }
}
