/****** Text, Border, Background and Striped Colors ****** */
.bg-brands-adobe-orange { background-color: #fbb034; }

.text-brands-adobe-orange { color: #fbb034; }

.bg-brands-adobe-yellow { background-color: #fd0; }

.text-brands-adobe-yellow { color: #fd0; }

.bg-brands-adobe-light-green { background-color: #c1d82f; }

.text-brands-adobe-light-green { color: #c1d82f; }

.bg-brands-adobe-light-blue { background-color: #00a4e4; }

.text-brands-adobe-light-blue { color: #00a4e4; }

.bg-brands-adobe-gray { background-color: #8a7967; }

.text-brands-adobe-gray { color: #8a7967; }

.bg-brands-adobe-bluish-gray { background-color: #6a737b; }

.text-brands-adobe-bluish-gray { color: #6a737b; }

.bg-brands-alphabet-red { background-color: #ed1c24; }

.text-brands-alphabet-red { color: #ed1c24; }

.bg-brands-amazon-blue { background-color: #146eb4; }

.text-brands-amazon-blue { color: #146eb4; }

.bg-brands-android-green { background-color: #a4c639; }

.text-brands-android-green { color: #a4c639; }

.bg-brands-bing-orange { background-color: #ffb900; }

.text-brands-bing-orange { color: #ffb900; }

.bg-brands-bing-gray { background-color: #505050; }

.text-brands-bing-gray { color: #505050; }

.bg-brands-bing-light-gray { background-color: #a3a3a3; }

.text-brands-bing-light-gray { color: #a3a3a3; }

.bg-brands-carrefour-blue { background-color: #00387b; }

.text-brands-carrefour-blue { color: #00387b; }

.bg-brands-carrefour-red { background-color: #bb1e10; }

.text-brands-carrefour-red { color: #bb1e10; }

.bg-brands-carrefour-orange { background-color: #f67828; }

.text-brands-carrefour-orange { color: #f67828; }

.bg-brands-carrefour-green { background-color: #237f52; }

.text-brands-carrefour-green { color: #237f52; }

.bg-brands-dell-blue { background-color: #0085c3; }

.text-brands-dell-blue { color: #0085c3; }

.bg-brands-dell-green { background-color: #7ab800; }

.text-brands-dell-green { color: #7ab800; }

.bg-brands-dell-orange { background-color: #f2af00; }

.text-brands-dell-orange { color: #f2af00; }

.bg-brands-dell-pale-red { background-color: #dc5034; }

.text-brands-dell-pale-red { color: #dc5034; }

.bg-brands-dell-red { background-color: #ce1126; }

.text-brands-dell-red { color: #ce1126; }

.bg-brands-dell-pink { background-color: #b7295a; }

.text-brands-dell-pink { color: #b7295a; }

.bg-brands-dell-purple { background-color: #6e2585; }

.text-brands-dell-purple { color: #6e2585; }

.bg-brands-dell-light-greenish-blue { background-color: #71c6c1; }

.text-brands-dell-light-greenish-blue { color: #71c6c1; }

.bg-brands-dell-greenish-blue { background-color: #5482ab; }

.text-brands-dell-greenish-blue { color: #5482ab; }

.bg-brands-dell-vivid-greenish-blue { background-color: #009bbb; }

.text-brands-dell-vivid-greenish-blue { color: #009bbb; }

.bg-brands-dell-gray { background-color: #444; }

.text-brands-dell-gray { color: #444; }

.bg-brands-deviantart-green { background-color: #05cc47; }

.text-brands-deviantart-green { color: #05cc47; }

.bg-brands-deviantart-pale-green { background-color: #4dc47d; }

.text-brands-deviantart-pale-green { color: #4dc47d; }

.bg-brands-deviantart-black { background-color: #181a1b; }

.text-brands-deviantart-black { color: #181a1b; }

.bg-brands-dropbox-blue { background-color: #007ee5; }

.text-brands-dropbox-blue { color: #007ee5; }

.bg-brands-dropbox-gray { background-color: #7b8994; }

.text-brands-dropbox-gray { color: #7b8994; }

.bg-brands-dropbox-bluish-gray { background-color: #47525d; }

.text-brands-dropbox-bluish-gray { color: #47525d; }

.bg-brands-dropbox-dark-bluish-gray { background-color: #3d464d; }

.text-brands-dropbox-dark-bluish-gray { color: #3d464d; }

.bg-brands-ebay-red { background-color: #e53238; }

.text-brands-ebay-red { color: #e53238; }

.bg-brands-ebay-blue { background-color: #0064d2; }

.text-brands-ebay-blue { color: #0064d2; }

.bg-brands-ebay-orange { background-color: #f5af02; }

.text-brands-ebay-orange { color: #f5af02; }

.bg-brands-ebay-green { background-color: #86b817; }

.text-brands-ebay-green { color: #86b817; }

.bg-brands-facebook-blue { background-color: #3b5998; }

.text-brands-facebook-blue { color: #3b5998; }

.bg-brands-fedex-purple { background-color: #609; }

.text-brands-fedex-purple { color: #609; }

.bg-brands-fedex-orange { background-color: #f60; }

.text-brands-fedex-orange { color: #f60; }

.bg-brands-fedex-green { background-color: #0c0; }

.text-brands-fedex-green { color: #0c0; }

.bg-brands-fedex-blue { background-color: #09c; }

.text-brands-fedex-blue { color: #09c; }

.bg-brands-fedex-red { background-color: #f03; }

.text-brands-fedex-red { color: #f03; }

.bg-brands-fedex-yellow { background-color: #fc0; }

.text-brands-fedex-yellow { color: #fc0; }

.bg-brands-flickr-blue { background-color: #0063dc; }

.text-brands-flickr-blue { color: #0063dc; }

.bg-brands-flickr-pink { background-color: #ff0084; }

.text-brands-flickr-pink { color: #ff0084; }

.bg-brands-ford-blue { background-color: #1c396d; }

.text-brands-ford-blue { color: #1c396d; }

.bg-brands-github-blue { background-color: #4183c4; }

.text-brands-github-blue { color: #4183c4; }

.bg-brands-github-gray { background-color: #999; }

.text-brands-github-gray { color: #999; }

.bg-brands-github-dark-gray { background-color: #666; }

.text-brands-github-dark-gray { color: #666; }

.bg-brands-github-darker-gray { background-color: #333; }

.text-brands-github-darker-gray { color: #333; }

.bg-brands-github-green { background-color: #6cc644; }

.text-brands-github-green { color: #6cc644; }

.bg-brands-github-red { background-color: #bd2c00; }

.text-brands-github-red { color: #bd2c00; }

.bg-brands-github-orange { background-color: #f93; }

.text-brands-github-orange { color: #f93; }

.bg-brands-godaddy-green { background-color: #7db701; }

.text-brands-godaddy-green { color: #7db701; }

.bg-brands-godaddy-orange { background-color: #ff8a00; }

.text-brands-godaddy-orange { color: #ff8a00; }

.bg-brands-google-blue { background-color: #4285f4; }

.text-brands-google-blue { color: #4285f4; }

.bg-brands-google-green { background-color: #34a853; }

.text-brands-google-green { color: #34a853; }

.bg-brands-google-yellow { background-color: #fbbc05; }

.text-brands-google-yellow { color: #fbbc05; }

.bg-brands-google-red { background-color: #ea4335; }

.text-brands-google-red { color: #ea4335; }

.bg-brands-google-plus-red { background-color: #dc4e41; }

.text-brands-google-plus-red { color: #dc4e41; }

.bg-brands-groupon-green { background-color: #82b548; }

.text-brands-groupon-green { color: #82b548; }

.bg-brands-hp-blue { background-color: #0096d6; }

.text-brands-hp-blue { color: #0096d6; }

.bg-brands-hp-red { background-color: #d7410b; }

.text-brands-hp-red { color: #d7410b; }

.bg-brands-ibm-blue { background-color: #069; }

.text-brands-ibm-blue { color: #069; }

.bg-brands-instagram-blue { background-color: #3f729b; }

.text-brands-instagram-blue { color: #3f729b; }

.bg-brands-ios-light-blue { background-color: #5fc9f8; }

.text-brands-ios-light-blue { color: #5fc9f8; }

.bg-brands-ios-yellow { background-color: #fecb2e; }

.text-brands-ios-yellow { color: #fecb2e; }

.bg-brands-ios-orange { background-color: #fd9426; }

.text-brands-ios-orange { color: #fd9426; }

.bg-brands-ios-pale-red { background-color: #fc3158; }

.text-brands-ios-pale-red { color: #fc3158; }

.bg-brands-ios-blue { background-color: #147efb; }

.text-brands-ios-blue { color: #147efb; }

.bg-brands-ios-green { background-color: #53d769; }

.text-brands-ios-green { color: #53d769; }

.bg-brands-ios-vivid-red { background-color: #fc3d39; }

.text-brands-ios-vivid-red { color: #fc3d39; }

.bg-brands-ios-gray { background-color: #8e8e93; }

.text-brands-ios-gray { color: #8e8e93; }

.bg-brands-laravel-red { background-color: #f55247; }

.text-brands-laravel-red { color: #f55247; }

.bg-brands-linkedin-light-blue { background-color: #0077b5; }

.text-brands-linkedin-light-blue { color: #0077b5; }

.bg-brands-linkedin-dark-gray { background-color: #313335; }

.text-brands-linkedin-dark-gray { color: #313335; }

.bg-brands-linkedin-gray { background-color: #86888a; }

.text-brands-linkedin-gray { color: #86888a; }

.bg-brands-linkedin-light-gray { background-color: #caccce; }

.text-brands-linkedin-light-gray { color: #caccce; }

.bg-brands-linkedin-blue { background-color: #00a0dc; }

.text-brands-linkedin-blue { color: #00a0dc; }

.bg-brands-linkedin-pale-purple { background-color: #8d6cab; }

.text-brands-linkedin-pale-purple { color: #8d6cab; }

.bg-brands-linkedin-red { background-color: #dd5143; }

.text-brands-linkedin-red { color: #dd5143; }

.bg-brands-linkedin-orange { background-color: #e68523; }

.text-brands-linkedin-orange { color: #e68523; }

.bg-brands-mastercard-red { background-color: #c00; }

.text-brands-mastercard-red { color: #c00; }

.bg-brands-mastercard-orange { background-color: #f90; }

.text-brands-mastercard-orange { color: #f90; }

.bg-brands-mastercard-blue { background-color: #006; }

.text-brands-mastercard-blue { color: #006; }

.bg-brands-mcdonalds-red { background-color: #bf0c0c; }

.text-brands-mcdonalds-red { color: #bf0c0c; }

.bg-brands-mcdonalds-orange { background-color: #e76a05; }

.text-brands-mcdonalds-orange { color: #e76a05; }

.bg-brands-mcdonalds-yellow { background-color: #ffc600; }

.text-brands-mcdonalds-yellow { color: #ffc600; }

.bg-brands-mcdonalds-green { background-color: #47bc00; }

.text-brands-mcdonalds-green { color: #47bc00; }

.bg-brands-mcdonalds-blue { background-color: #05007b; }

.text-brands-mcdonalds-blue { color: #05007b; }

.bg-brands-mcdonalds-pink { background-color: #9748a8; }

.text-brands-mcdonalds-pink { color: #9748a8; }

.bg-brands-mcdonalds-light-blue { background-color: #2bb3f3; }

.text-brands-mcdonalds-light-blue { color: #2bb3f3; }

.bg-brands-mcdonalds-dark-orange { background-color: #865200; }

.text-brands-mcdonalds-dark-orange { color: #865200; }

.bg-brands-microsoft-orange { background-color: #f65314; }

.text-brands-microsoft-orange { color: #f65314; }

.bg-brands-microsoft-green { background-color: #7cbb00; }

.text-brands-microsoft-green { color: #7cbb00; }

.bg-brands-microsoft-blue { background-color: #00a1f1; }

.text-brands-microsoft-blue { color: #00a1f1; }

.bg-brands-microsoft-light-orange { background-color: #fb0; }

.text-brands-microsoft-light-orange { color: #fb0; }

.bg-brands-netflix-red { background-color: #e50914; }

.text-brands-netflix-red { color: #e50914; }

.bg-brands-netflix-dark-gray { background-color: #221f1f; }

.text-brands-netflix-dark-gray { color: #221f1f; }

.bg-brands-netflix-white { background-color: #f5f5f1; }

.text-brands-netflix-white { color: #f5f5f1; }

.bg-brands-nike-football-gray { background-color: #504847; }

.text-brands-nike-football-gray { color: #504847; }

.bg-brands-nike-football-green { background-color: #27a770; }

.text-brands-nike-football-green { color: #27a770; }

.bg-brands-nvidia-green { background-color: #76b900; }

.text-brands-nvidia-green { color: #76b900; }

.bg-brands-opera-red { background-color: #cc0f16; }

.text-brands-opera-red { color: #cc0f16; }

.bg-brands-opera-gray { background-color: #9c9e9f; }

.text-brands-opera-gray { color: #9c9e9f; }

.bg-brands-oracle-red { background-color: #f00; }

.text-brands-oracle-red { color: #f00; }

.bg-brands-oracle-gray { background-color: #7f7f7f; }

.text-brands-oracle-gray { color: #7f7f7f; }

.bg-brands-paypal-blue { background-color: #003087; }

.text-brands-paypal-blue { color: #003087; }

.bg-brands-paypal-light-blue { background-color: #009cde; }

.text-brands-paypal-light-blue { color: #009cde; }

.bg-brands-paypal-vivid-blue { background-color: #012169; }

.text-brands-paypal-vivid-blue { color: #012169; }

.bg-brands-pepsi-red { background-color: #e32934; }

.text-brands-pepsi-red { color: #e32934; }

.bg-brands-pepsi-blue { background-color: #004883; }

.text-brands-pepsi-blue { color: #004883; }

.bg-brands-philips-blue { background-color: #0e5fd8; }

.text-brands-philips-blue { color: #0e5fd8; }

.bg-brands-php-pale-blue { background-color: #8892be; }

.text-brands-php-pale-blue { color: #8892be; }

.bg-brands-php-pale-dark-blue { background-color: #4f5b93; }

.text-brands-php-pale-dark-blue { color: #4f5b93; }

.bg-brands-php-pale-green { background-color: #9c9; }

.text-brands-php-pale-green { color: #9c9; }

.bg-brands-pizza-hut-red { background-color: #ee3124; }

.text-brands-pizza-hut-red { color: #ee3124; }

.bg-brands-pizza-hut-green { background-color: #00a160; }

.text-brands-pizza-hut-green { color: #00a160; }

.bg-brands-pizza-hut-orange { background-color: #ffc425; }

.text-brands-pizza-hut-orange { color: #ffc425; }

.bg-brands-rolls-royce-red { background-color: #680021; }

.text-brands-rolls-royce-red { color: #680021; }

.bg-brands-rolls-royce-white { background-color: #fffaec; }

.text-brands-rolls-royce-white { color: #fffaec; }

.bg-brands-rolls-royce-gray { background-color: #939598; }

.text-brands-rolls-royce-gray { color: #939598; }

.bg-brands-samsung-blue { background-color: #1428a0; }

.text-brands-samsung-blue { color: #1428a0; }

.bg-brands-samsung-gray { background-color: #75787b; }

.text-brands-samsung-gray { color: #75787b; }

.bg-brands-samsung-light-blue { background-color: #0689d8; }

.text-brands-samsung-light-blue { color: #0689d8; }

.bg-brands-samsung-orange { background-color: #ff6900; }

.text-brands-samsung-orange { color: #ff6900; }

.bg-brands-samsung-red { background-color: #e4002b; }

.text-brands-samsung-red { color: #e4002b; }

.bg-brands-samsung-pink { background-color: #c800a1; }

.text-brands-samsung-pink { color: #c800a1; }

.bg-brands-samsung-purple { background-color: #685bc7; }

.text-brands-samsung-purple { color: #685bc7; }

.bg-brands-samsung-vivid-blue { background-color: #0057b8; }

.text-brands-samsung-vivid-blue { color: #0057b8; }

.bg-brands-samsung-light-vivid-blue { background-color: #00a9e0; }

.text-brands-samsung-light-vivid-blue { color: #00a9e0; }

.bg-brands-samsung-greenish-blue { background-color: #009ca6; }

.text-brands-samsung-greenish-blue { color: #009ca6; }

.bg-brands-samsung-green { background-color: #00b140; }

.text-brands-samsung-green { color: #00b140; }

.bg-brands-skype-blue { background-color: #00aff0; }

.text-brands-skype-blue { color: #00aff0; }

.bg-brands-soundcloud-orange { background-color: #f80; }

.text-brands-soundcloud-orange { color: #f80; }

.bg-brands-soundcloud-red { background-color: #f30; }

.text-brands-soundcloud-red { color: #f30; }

.bg-brands-spotify-green { background-color: #2ebd59; }

.text-brands-spotify-green { color: #2ebd59; }

.bg-brands-starbucks-green { background-color: #00704a; }

.text-brands-starbucks-green { color: #00704a; }

.bg-brands-subway-dark-green { background-color: #00543d; }

.text-brands-subway-dark-green { color: #00543d; }

.bg-brands-subway-yellow { background-color: #fef035; }

.text-brands-subway-yellow { color: #fef035; }

.bg-brands-subway-green { background-color: #489e3b; }

.text-brands-subway-green { color: #489e3b; }

.bg-brands-subway-orange { background-color: #fabd42; }

.text-brands-subway-orange { color: #fabd42; }

.bg-brands-subway-red { background-color: #cd0a20; }

.text-brands-subway-red { color: #cd0a20; }

.bg-brands-t-mobile-pink { background-color: #e20074; }

.text-brands-t-mobile-pink { color: #e20074; }

.bg-brands-telegram-blue { background-color: #08c; }

.text-brands-telegram-blue { color: #08c; }

.bg-brands-tumblr-blue { background-color: #35465c; }

.text-brands-tumblr-blue { color: #35465c; }

.bg-brands-twitter-blue { background-color: #55acee; }

.text-brands-twitter-blue { color: #55acee; }

.bg-brands-uber-black { background-color: #09091a; }

.text-brands-uber-black { color: #09091a; }

.bg-brands-uber-gray { background-color: #c0c0c8; }

.text-brands-uber-gray { color: #c0c0c8; }

.bg-brands-uber-blue { background-color: #1fbad6; }

.text-brands-uber-blue { color: #1fbad6; }

.bg-brands-ubuntu-orange { background-color: #dd4814; }

.text-brands-ubuntu-orange { color: #dd4814; }

.bg-brands-ubuntu-pink { background-color: #77216f; }

.text-brands-ubuntu-pink { color: #77216f; }

.bg-brands-ubuntu-dark-pink { background-color: #5e2750; }

.text-brands-ubuntu-dark-pink { color: #5e2750; }

.bg-brands-ubuntu-darker-pink { background-color: #2c001e; }

.text-brands-ubuntu-darker-pink { color: #2c001e; }

.bg-brands-ubuntu-gray { background-color: #aea79f; }

.text-brands-ubuntu-gray { color: #aea79f; }

.bg-brands-unity-dark-blue { background-color: #222c37; }

.text-brands-unity-dark-blue { color: #222c37; }

.bg-brands-unity-greenish-blue { background-color: #0cc; }

.text-brands-unity-greenish-blue { color: #0cc; }

.bg-brands-unity-yellow { background-color: #fff600; }

.text-brands-unity-yellow { color: #fff600; }

.bg-brands-unity-pink { background-color: #f06; }

.text-brands-unity-pink { color: #f06; }

.bg-brands-unity-green { background-color: #19e3b1; }

.text-brands-unity-green { color: #19e3b1; }

.bg-brands-unity-orange { background-color: #ff7f33; }

.text-brands-unity-orange { color: #ff7f33; }

.bg-brands-unity-dark-pink { background-color: #b83c82; }

.text-brands-unity-dark-pink { color: #b83c82; }

.bg-brands-vimeo-dark-blue { background-color: #162221; }

.text-brands-vimeo-dark-blue { color: #162221; }

.bg-brands-vimeo-light-blue { background-color: #1ab7ea; }

.text-brands-vimeo-light-blue { color: #1ab7ea; }

.bg-brands-vine-green { background-color: #00b488; }

.text-brands-vine-green { color: #00b488; }

.bg-brands-vodafone-red { background-color: #e60000; }

.text-brands-vodafone-red { color: #e60000; }

.bg-brands-vodafone-gray { background-color: #4a4d4e; }

.text-brands-vodafone-gray { color: #4a4d4e; }

.bg-brands-vodafone-dark-pink { background-color: #5e2750; }

.text-brands-vodafone-dark-pink { color: #5e2750; }

.bg-brands-vodafone-light-blue { background-color: #00b0ca; }

.text-brands-vodafone-light-blue { color: #00b0ca; }

.bg-brands-vodafone-greenish-blue { background-color: #007c92; }

.text-brands-vodafone-greenish-blue { color: #007c92; }

.bg-brands-vodafone-greenish-yellow { background-color: #a8b400; }

.text-brands-vodafone-greenish-yellow { color: #a8b400; }

.bg-brands-vodafone-orange { background-color: #fecb00; }

.text-brands-vodafone-orange { color: #fecb00; }

.bg-brands-vodafone-dark-orange { background-color: #eb9800; }

.text-brands-vodafone-dark-orange { color: #eb9800; }

.bg-brands-volvo-blue { background-color: #003057; }

.text-brands-volvo-blue { color: #003057; }

.bg-brands-volvo-green { background-color: #115740; }

.text-brands-volvo-green { color: #115740; }

.bg-brands-volvo-gray { background-color: #65665c; }

.text-brands-volvo-gray { color: #65665c; }

.bg-brands-volvo-pale-blue { background-color: #425563; }

.text-brands-volvo-pale-blue { color: #425563; }

.bg-brands-volvo-greenish-pale-blue { background-color: #517891; }

.text-brands-volvo-greenish-pale-blue { color: #517891; }

.bg-brands-volvo-dark-green { background-color: #212721; }

.text-brands-volvo-dark-green { color: #212721; }

.bg-brands-whatsapp-green { background-color: #43d854; }

.text-brands-whatsapp-green { color: #43d854; }

.bg-brands-wordpress-blue { background-color: #21759b; }

.text-brands-wordpress-blue { color: #21759b; }

.bg-brands-wordpress-orange { background-color: #d54e21; }

.text-brands-wordpress-orange { color: #d54e21; }

.bg-brands-wordpress-gray { background-color: #464646; }

.text-brands-wordpress-gray { color: #464646; }

.bg-brands-yahoo-purple { background-color: #410093; }

.text-brands-yahoo-purple { color: #410093; }

.bg-brands-youtube-red { background-color: #cd201f; }

.text-brands-youtube-red { color: #cd201f; }

.bg-white { background-color: #fff; }

.text-white { color: #fff; }

.bg-black { background-color: #000; }

.text-black { color: #000; }

.bg-gray { background-color: #808080; }

.text-gray { color: #808080; }

.bg-lightgray { background-color: #d3d3d3; }

.text-lightgray { color: #d3d3d3; }

.bg-transparent { background-color: transparent; }

.text-transparent { color: transparent; }

.bg-mcs-medsol-aqua { background-color: #29afb1; }

.text-mcs-medsol-aqua { color: #29afb1; }

.bg-mcs-medsol-brown { background-color: #565249; }

.text-mcs-medsol-brown { color: #565249; }

.bg-mcs-medsol-light-aqua { background-color: #8dc9ca; }

.text-mcs-medsol-light-aqua { color: #8dc9ca; }

.bg-mcs-medsol-pale-blue { background-color: #83abc5; }

.text-mcs-medsol-pale-blue { color: #83abc5; }

.bg-mcs-blue { background-color: #0b486b; }

.text-mcs-blue { color: #0b486b; }

.bg-mcs-bluish-green { background-color: #3c8687; }

.text-mcs-bluish-green { color: #3c8687; }

.bg-mcs-brownish-gray { background-color: #beb9ad; }

.text-mcs-brownish-gray { color: #beb9ad; }

.bg-mcs-cyan { background-color: #69d3e8; }

.text-mcs-cyan { color: #69d3e8; }

.bg-mcs-dark-gray { background-color: #343434; }

.text-mcs-dark-gray { color: #343434; }

.bg-mcs-dark-pink { background-color: #601849; }

.text-mcs-dark-pink { color: #601849; }

.bg-mcs-dark-red { background-color: #9a0100; }

.text-mcs-dark-red { color: #9a0100; }

.bg-mcs-gray { background-color: #383636; }

.text-mcs-gray { color: #383636; }

.bg-mcs-green { background-color: #283338; }

.text-mcs-green { color: #283338; }

.bg-mcs-greenish-cyan { background-color: #a7dcd8; }

.text-mcs-greenish-cyan { color: #a7dcd8; }

.bg-mcs-light-blue { background-color: #44749e; }

.text-mcs-light-blue { color: #44749e; }

.bg-mcs-light-gray { background-color: #ece8e1; }

.text-mcs-light-gray { color: #ece8e1; }

.bg-mcs-light-green { background-color: #7abe9b; }

.text-mcs-light-green { color: #7abe9b; }

.bg-mcs-light-purple { background-color: #480048; }

.text-mcs-light-purple { color: #480048; }

.bg-mcs-lighter-blue { background-color: #c7d5e2; }

.text-mcs-lighter-blue { color: #c7d5e2; }

.bg-mcs-lighter-gray { background-color: #e9e9e9; }

.text-mcs-lighter-gray { color: #e9e9e9; }

.bg-mcs-lightert-green { background-color: #a9dca8; }

.text-mcs-lightert-green { color: #a9dca8; }

.bg-mcs-lightest-green { background-color: #cff09e; }

.text-mcs-lightest-green { color: #cff09e; }

.bg-mcs-orange { background-color: #f48630; }

.text-mcs-orange { color: #f48630; }

.bg-mcs-pale-light-yellow { background-color: #e1e5cd; }

.text-mcs-pale-light-yellow { color: #e1e5cd; }

.bg-mcs-pale-orange { background-color: #f07341; }

.text-mcs-pale-orange { color: #f07341; }

.bg-mcs-pale-red { background-color: #c14848; }

.text-mcs-pale-red { color: #c14848; }

.bg-mcs-pale-yellow { background-color: #fff3bc; }

.text-mcs-pale-yellow { color: #fff3bc; }

.bg-mcs-purple { background-color: #310031; }

.text-mcs-purple { color: #310031; }

.bg-mcs-vivid-orange { background-color: #ff5b0c; }

.text-mcs-vivid-orange { color: #ff5b0c; }

.bg-mcs-vivid-red { background-color: #ba0503; }

.text-mcs-vivid-red { color: #ba0503; }

.bg-mcs-warm-gray { background-color: #806f66; }

.text-mcs-warm-gray { color: #806f66; }

.bg-mcs-white-smoke { background-color: #f7f7f7; }

.text-mcs-white-smoke { color: #f7f7f7; }

.bg-kazuo-red { background-color: #d34140; }

.text-kazuo-red { color: #d34140; }

.bg-kazuo-dark-red { background-color: #bc4141; }

.text-kazuo-dark-red { color: #bc4141; }

.bg-kazuo-black { background-color: #262222; }

.text-kazuo-black { color: #262222; }

.bg-kazuo-gray { background-color: #d8d8d8; }

.text-kazuo-gray { color: #d8d8d8; }

.bg-kazuo-light-gray { background-color: #eaeaea; }

.text-kazuo-light-gray { color: #eaeaea; }

.bg-sitcor-blue { background-color: #3a4d72; }

.text-sitcor-blue { color: #3a4d72; }

.bg-sitcor-pale-blue { background-color: #56667e; }

.text-sitcor-pale-blue { color: #56667e; }

.bg-sitcor-dark-blue { background-color: #37486a; }

.text-sitcor-dark-blue { color: #37486a; }

.bg-sitcor-darker-blue { background-color: #323c52; }

.text-sitcor-darker-blue { color: #323c52; }

.bg-brasil-dark-green { background-color: #040; }

.text-brasil-dark-green { color: #040; }

.bg-brasil-yellow { background-color: #faef0c; }

.text-brasil-yellow { color: #faef0c; }

.bg-brasil-light-gray { background-color: #fdfdfd; }

.text-brasil-light-gray { color: #fdfdfd; }

.bg-brasil-gray { background-color: #eee; }

.text-brasil-gray { color: #eee; }

.bg-brasil-dark-blue { background-color: #293137; }

.text-brasil-dark-blue { color: #293137; }

.bg-bs-blue { background-color: #0373d8; }

.text-bs-blue { color: #0373d8; }

.bg-bs-hover-blue { background-color: #025aa5; }

.text-bs-hover-blue { color: #025aa5; }

.bg-bs-green { background-color: #5cb85c; }

.text-bs-green { color: #5cb85c; }

.bg-bs-hover-green { background-color: #449d43; }

.text-bs-hover-green { color: #449d43; }

.bg-bs-cyan { background-color: #5bc0de; }

.text-bs-cyan { color: #5bc0de; }

.bg-bs-hover-cyan { background-color: #31b0d5; }

.text-bs-hover-cyan { color: #31b0d5; }

.bg-bs-orange { background-color: #efad4e; }

.text-bs-orange { color: #efad4e; }

.bg-bs-hover-orange { background-color: #ec971e; }

.text-bs-hover-orange { color: #ec971e; }

.bg-bs-red { background-color: #d9534f; }

.text-bs-red { color: #d9534f; }

.bg-bs-hover-red { background-color: #c9302c; }

.text-bs-hover-red { color: #c9302c; }
/*# sourceMappingURL=maincs-turbo-turtle-colors-small.css.map */