/****** Height Absolute ****** */
.height-abs-5 { height: 5px; }

.height-abs-10 { height: 10px; }

.height-abs-15 { height: 15px; }

.height-abs-20 { height: 20px; }

.height-abs-25 { height: 25px; }

.height-abs-30 { height: 30px; }

.height-abs-35 { height: 35px; }

.height-abs-40 { height: 40px; }

.height-abs-45 { height: 45px; }

.height-abs-50 { height: 50px; }

.height-abs-55 { height: 55px; }

.height-abs-60 { height: 60px; }

.height-abs-65 { height: 65px; }

.height-abs-70 { height: 70px; }

.height-abs-75 { height: 75px; }

.height-abs-80 { height: 80px; }

.height-abs-85 { height: 85px; }

.height-abs-90 { height: 90px; }

.height-abs-95 { height: 95px; }

.height-abs-100 { height: 100px; }

.height-abs-105 { height: 105px; }

.height-abs-110 { height: 110px; }

.height-abs-115 { height: 115px; }

.height-abs-120 { height: 120px; }

.height-abs-125 { height: 125px; }

.height-abs-130 { height: 130px; }

.height-abs-135 { height: 135px; }

.height-abs-140 { height: 140px; }

.height-abs-145 { height: 145px; }

.height-abs-150 { height: 150px; }

.height-abs-155 { height: 155px; }

.height-abs-160 { height: 160px; }

.height-abs-165 { height: 165px; }

.height-abs-170 { height: 170px; }

.height-abs-175 { height: 175px; }

.height-abs-180 { height: 180px; }

.height-abs-185 { height: 185px; }

.height-abs-190 { height: 190px; }

.height-abs-195 { height: 195px; }

.height-abs-200 { height: 200px; }

.height-abs-205 { height: 205px; }

.height-abs-210 { height: 210px; }

.height-abs-215 { height: 215px; }

.height-abs-220 { height: 220px; }

.height-abs-225 { height: 225px; }

.height-abs-230 { height: 230px; }

.height-abs-235 { height: 235px; }

.height-abs-240 { height: 240px; }

.height-abs-245 { height: 245px; }

.height-abs-250 { height: 250px; }

.height-abs-255 { height: 255px; }

.height-abs-260 { height: 260px; }

.height-abs-265 { height: 265px; }

.height-abs-270 { height: 270px; }

.height-abs-275 { height: 275px; }

.height-abs-280 { height: 280px; }

.height-abs-285 { height: 285px; }

.height-abs-290 { height: 290px; }

.height-abs-295 { height: 295px; }

.height-abs-300 { height: 300px; }

.height-abs-305 { height: 305px; }

.height-abs-310 { height: 310px; }

.height-abs-315 { height: 315px; }

.height-abs-320 { height: 320px; }

.height-abs-325 { height: 325px; }

.height-abs-330 { height: 330px; }

.height-abs-335 { height: 335px; }

.height-abs-340 { height: 340px; }

.height-abs-345 { height: 345px; }

.height-abs-350 { height: 350px; }

.height-abs-355 { height: 355px; }

.height-abs-360 { height: 360px; }

.height-abs-365 { height: 365px; }

.height-abs-370 { height: 370px; }

.height-abs-375 { height: 375px; }

.height-abs-380 { height: 380px; }

.height-abs-385 { height: 385px; }

.height-abs-390 { height: 390px; }

.height-abs-395 { height: 395px; }

.height-abs-400 { height: 400px; }

.height-abs-405 { height: 405px; }

.height-abs-410 { height: 410px; }

.height-abs-415 { height: 415px; }

.height-abs-420 { height: 420px; }

.height-abs-425 { height: 425px; }

.height-abs-430 { height: 430px; }

.height-abs-435 { height: 435px; }

.height-abs-440 { height: 440px; }

.height-abs-445 { height: 445px; }

.height-abs-450 { height: 450px; }

.height-abs-455 { height: 455px; }

.height-abs-460 { height: 460px; }

.height-abs-465 { height: 465px; }

.height-abs-470 { height: 470px; }

.height-abs-475 { height: 475px; }

.height-abs-480 { height: 480px; }

.height-abs-485 { height: 485px; }

.height-abs-490 { height: 490px; }

.height-abs-495 { height: 495px; }

.height-abs-500 { height: 500px; }

.height-abs-505 { height: 505px; }

.height-abs-510 { height: 510px; }

.height-abs-515 { height: 515px; }

.height-abs-520 { height: 520px; }

.height-abs-525 { height: 525px; }

.height-abs-530 { height: 530px; }

.height-abs-535 { height: 535px; }

.height-abs-540 { height: 540px; }

.height-abs-545 { height: 545px; }

.height-abs-550 { height: 550px; }

.height-abs-555 { height: 555px; }

.height-abs-560 { height: 560px; }

.height-abs-565 { height: 565px; }

.height-abs-570 { height: 570px; }

.height-abs-575 { height: 575px; }

.height-abs-580 { height: 580px; }

.height-abs-585 { height: 585px; }

.height-abs-590 { height: 590px; }

.height-abs-595 { height: 595px; }

.height-abs-600 { height: 600px; }

.height-abs-605 { height: 605px; }

.height-abs-610 { height: 610px; }

.height-abs-615 { height: 615px; }

.height-abs-620 { height: 620px; }

.height-abs-625 { height: 625px; }

.height-abs-630 { height: 630px; }

.height-abs-635 { height: 635px; }

.height-abs-640 { height: 640px; }

.height-abs-645 { height: 645px; }

.height-abs-650 { height: 650px; }

.height-abs-655 { height: 655px; }

.height-abs-660 { height: 660px; }

.height-abs-665 { height: 665px; }

.height-abs-670 { height: 670px; }

.height-abs-675 { height: 675px; }

.height-abs-680 { height: 680px; }

.height-abs-685 { height: 685px; }

.height-abs-690 { height: 690px; }

.height-abs-695 { height: 695px; }

.height-abs-700 { height: 700px; }

.height-abs-705 { height: 705px; }

.height-abs-710 { height: 710px; }

.height-abs-715 { height: 715px; }

.height-abs-720 { height: 720px; }

.height-abs-725 { height: 725px; }

.height-abs-730 { height: 730px; }

.height-abs-735 { height: 735px; }

.height-abs-740 { height: 740px; }

.height-abs-745 { height: 745px; }

.height-abs-750 { height: 750px; }

.height-abs-755 { height: 755px; }

.height-abs-760 { height: 760px; }

.height-abs-765 { height: 765px; }

.height-abs-770 { height: 770px; }

.height-abs-775 { height: 775px; }

.height-abs-780 { height: 780px; }

.height-abs-785 { height: 785px; }

.height-abs-790 { height: 790px; }

.height-abs-795 { height: 795px; }

.height-abs-800 { height: 800px; }

.height-abs-805 { height: 805px; }

.height-abs-810 { height: 810px; }

.height-abs-815 { height: 815px; }

.height-abs-820 { height: 820px; }

.height-abs-825 { height: 825px; }

.height-abs-830 { height: 830px; }

.height-abs-835 { height: 835px; }

.height-abs-840 { height: 840px; }

.height-abs-845 { height: 845px; }

.height-abs-850 { height: 850px; }

.height-abs-855 { height: 855px; }

.height-abs-860 { height: 860px; }

.height-abs-865 { height: 865px; }

.height-abs-870 { height: 870px; }

.height-abs-875 { height: 875px; }

.height-abs-880 { height: 880px; }

.height-abs-885 { height: 885px; }

.height-abs-890 { height: 890px; }

.height-abs-895 { height: 895px; }

.height-abs-900 { height: 900px; }

.height-abs-905 { height: 905px; }

.height-abs-910 { height: 910px; }

.height-abs-915 { height: 915px; }

.height-abs-920 { height: 920px; }

.height-abs-925 { height: 925px; }

.height-abs-930 { height: 930px; }

.height-abs-935 { height: 935px; }

.height-abs-940 { height: 940px; }

.height-abs-945 { height: 945px; }

.height-abs-950 { height: 950px; }

.height-abs-955 { height: 955px; }

.height-abs-960 { height: 960px; }

.height-abs-965 { height: 965px; }

.height-abs-970 { height: 970px; }

.height-abs-975 { height: 975px; }

.height-abs-980 { height: 980px; }

.height-abs-985 { height: 985px; }

.height-abs-990 { height: 990px; }

.height-abs-995 { height: 995px; }

.height-abs-1000 { height: 1000px; }

.height-abs-1005 { height: 1005px; }

.height-abs-1010 { height: 1010px; }

.height-abs-1015 { height: 1015px; }

.height-abs-1020 { height: 1020px; }

.height-abs-1025 { height: 1025px; }

.height-abs-1030 { height: 1030px; }

.height-abs-1035 { height: 1035px; }

.height-abs-1040 { height: 1040px; }

.height-abs-1045 { height: 1045px; }

.height-abs-1050 { height: 1050px; }

.height-abs-1055 { height: 1055px; }

.height-abs-1060 { height: 1060px; }

.height-abs-1065 { height: 1065px; }

.height-abs-1070 { height: 1070px; }

.height-abs-1075 { height: 1075px; }

.height-abs-1080 { height: 1080px; }

.height-abs-1085 { height: 1085px; }

.height-abs-1090 { height: 1090px; }

.height-abs-1095 { height: 1095px; }

.height-abs-1100 { height: 1100px; }

.height-abs-1105 { height: 1105px; }

.height-abs-1110 { height: 1110px; }

.height-abs-1115 { height: 1115px; }

.height-abs-1120 { height: 1120px; }

.height-abs-1125 { height: 1125px; }

.height-abs-1130 { height: 1130px; }

.height-abs-1135 { height: 1135px; }

.height-abs-1140 { height: 1140px; }

.height-abs-1145 { height: 1145px; }

.height-abs-1150 { height: 1150px; }

.height-abs-1155 { height: 1155px; }

.height-abs-1160 { height: 1160px; }

.height-abs-1165 { height: 1165px; }

.height-abs-1170 { height: 1170px; }

.height-abs-1175 { height: 1175px; }

.height-abs-1180 { height: 1180px; }

.height-abs-1185 { height: 1185px; }

.height-abs-1190 { height: 1190px; }

.height-abs-1195 { height: 1195px; }

.height-abs-1200 { height: 1200px; }

.height-abs-1205 { height: 1205px; }

.height-abs-1210 { height: 1210px; }

.height-abs-1215 { height: 1215px; }

.height-abs-1220 { height: 1220px; }

.height-abs-1225 { height: 1225px; }

.height-abs-1230 { height: 1230px; }

.height-abs-1235 { height: 1235px; }

.height-abs-1240 { height: 1240px; }

.height-abs-1245 { height: 1245px; }

.height-abs-1250 { height: 1250px; }

.height-abs-1255 { height: 1255px; }

.height-abs-1260 { height: 1260px; }

.height-abs-1265 { height: 1265px; }

.height-abs-1270 { height: 1270px; }

.height-abs-1275 { height: 1275px; }

.height-abs-1280 { height: 1280px; }

.height-abs-1285 { height: 1285px; }

.height-abs-1290 { height: 1290px; }

.height-abs-1295 { height: 1295px; }

.height-abs-1300 { height: 1300px; }

.height-abs-1305 { height: 1305px; }

.height-abs-1310 { height: 1310px; }

.height-abs-1315 { height: 1315px; }

.height-abs-1320 { height: 1320px; }

.height-abs-1325 { height: 1325px; }

.height-abs-1330 { height: 1330px; }

.height-abs-1335 { height: 1335px; }

.height-abs-1340 { height: 1340px; }

.height-abs-1345 { height: 1345px; }

.height-abs-1350 { height: 1350px; }

.height-abs-1355 { height: 1355px; }

.height-abs-1360 { height: 1360px; }

.height-abs-1365 { height: 1365px; }

.height-abs-1370 { height: 1370px; }

.height-abs-1375 { height: 1375px; }

.height-abs-1380 { height: 1380px; }

.height-abs-1385 { height: 1385px; }

.height-abs-1390 { height: 1390px; }

.height-abs-1395 { height: 1395px; }

.height-abs-1400 { height: 1400px; }

.height-abs-1405 { height: 1405px; }

.height-abs-1410 { height: 1410px; }

.height-abs-1415 { height: 1415px; }

.height-abs-1420 { height: 1420px; }

.height-abs-1425 { height: 1425px; }

.height-abs-1430 { height: 1430px; }

.height-abs-1435 { height: 1435px; }

.height-abs-1440 { height: 1440px; }

.height-abs-1445 { height: 1445px; }

.height-abs-1450 { height: 1450px; }

.height-abs-1455 { height: 1455px; }

.height-abs-1460 { height: 1460px; }

.height-abs-1465 { height: 1465px; }

.height-abs-1470 { height: 1470px; }

.height-abs-1475 { height: 1475px; }

.height-abs-1480 { height: 1480px; }

.height-abs-1485 { height: 1485px; }

.height-abs-1490 { height: 1490px; }

.height-abs-1495 { height: 1495px; }

.height-abs-1500 { height: 1500px; }

.height-abs-1505 { height: 1505px; }

.height-abs-1510 { height: 1510px; }

.height-abs-1515 { height: 1515px; }

.height-abs-1520 { height: 1520px; }

.height-abs-1525 { height: 1525px; }

.height-abs-1530 { height: 1530px; }

.height-abs-1535 { height: 1535px; }

.height-abs-1540 { height: 1540px; }

.height-abs-1545 { height: 1545px; }

.height-abs-1550 { height: 1550px; }

.height-abs-1555 { height: 1555px; }

.height-abs-1560 { height: 1560px; }

.height-abs-1565 { height: 1565px; }

.height-abs-1570 { height: 1570px; }

.height-abs-1575 { height: 1575px; }

.height-abs-1580 { height: 1580px; }

.height-abs-1585 { height: 1585px; }

.height-abs-1590 { height: 1590px; }

.height-abs-1595 { height: 1595px; }

.height-abs-1600 { height: 1600px; }

.height-abs-1605 { height: 1605px; }

.height-abs-1610 { height: 1610px; }

.height-abs-1615 { height: 1615px; }

.height-abs-1620 { height: 1620px; }

.height-abs-1625 { height: 1625px; }

.height-abs-1630 { height: 1630px; }

.height-abs-1635 { height: 1635px; }

.height-abs-1640 { height: 1640px; }

.height-abs-1645 { height: 1645px; }

.height-abs-1650 { height: 1650px; }

.height-abs-1655 { height: 1655px; }

.height-abs-1660 { height: 1660px; }

.height-abs-1665 { height: 1665px; }

.height-abs-1670 { height: 1670px; }

.height-abs-1675 { height: 1675px; }

.height-abs-1680 { height: 1680px; }

.height-abs-1685 { height: 1685px; }

.height-abs-1690 { height: 1690px; }

.height-abs-1695 { height: 1695px; }

.height-abs-1700 { height: 1700px; }

.height-abs-1705 { height: 1705px; }

.height-abs-1710 { height: 1710px; }

.height-abs-1715 { height: 1715px; }

.height-abs-1720 { height: 1720px; }

.height-abs-1725 { height: 1725px; }

.height-abs-1730 { height: 1730px; }

.height-abs-1735 { height: 1735px; }

.height-abs-1740 { height: 1740px; }

.height-abs-1745 { height: 1745px; }

.height-abs-1750 { height: 1750px; }

.height-abs-1755 { height: 1755px; }

.height-abs-1760 { height: 1760px; }

.height-abs-1765 { height: 1765px; }

.height-abs-1770 { height: 1770px; }

.height-abs-1775 { height: 1775px; }

.height-abs-1780 { height: 1780px; }

.height-abs-1785 { height: 1785px; }

.height-abs-1790 { height: 1790px; }

.height-abs-1795 { height: 1795px; }

.height-abs-1800 { height: 1800px; }

.height-abs-1805 { height: 1805px; }

.height-abs-1810 { height: 1810px; }

.height-abs-1815 { height: 1815px; }

.height-abs-1820 { height: 1820px; }

.height-abs-1825 { height: 1825px; }

.height-abs-1830 { height: 1830px; }

.height-abs-1835 { height: 1835px; }

.height-abs-1840 { height: 1840px; }

.height-abs-1845 { height: 1845px; }

.height-abs-1850 { height: 1850px; }

.height-abs-1855 { height: 1855px; }

.height-abs-1860 { height: 1860px; }

.height-abs-1865 { height: 1865px; }

.height-abs-1870 { height: 1870px; }

.height-abs-1875 { height: 1875px; }

.height-abs-1880 { height: 1880px; }

.height-abs-1885 { height: 1885px; }

.height-abs-1890 { height: 1890px; }

.height-abs-1895 { height: 1895px; }

.height-abs-1900 { height: 1900px; }

.height-abs-1905 { height: 1905px; }

.height-abs-1910 { height: 1910px; }

.height-abs-1915 { height: 1915px; }

.height-abs-1920 { height: 1920px; }

.height-abs-1925 { height: 1925px; }

.height-abs-1930 { height: 1930px; }

.height-abs-1935 { height: 1935px; }

.height-abs-1940 { height: 1940px; }

.height-abs-1945 { height: 1945px; }

.height-abs-1950 { height: 1950px; }

.height-abs-1955 { height: 1955px; }

.height-abs-1960 { height: 1960px; }

.height-abs-1965 { height: 1965px; }

.height-abs-1970 { height: 1970px; }

.height-abs-1975 { height: 1975px; }

.height-abs-1980 { height: 1980px; }

.height-abs-1985 { height: 1985px; }

.height-abs-1990 { height: 1990px; }

.height-abs-1995 { height: 1995px; }

.height-abs-2000 { height: 2000px; }

/****** Width Absolute ****** */
.width-abs-5 { width: 5px; }

.width-abs-10 { width: 10px; }

.width-abs-15 { width: 15px; }

.width-abs-20 { width: 20px; }

.width-abs-25 { width: 25px; }

.width-abs-30 { width: 30px; }

.width-abs-35 { width: 35px; }

.width-abs-40 { width: 40px; }

.width-abs-45 { width: 45px; }

.width-abs-50 { width: 50px; }

.width-abs-55 { width: 55px; }

.width-abs-60 { width: 60px; }

.width-abs-65 { width: 65px; }

.width-abs-70 { width: 70px; }

.width-abs-75 { width: 75px; }

.width-abs-80 { width: 80px; }

.width-abs-85 { width: 85px; }

.width-abs-90 { width: 90px; }

.width-abs-95 { width: 95px; }

.width-abs-100 { width: 100px; }

.width-abs-105 { width: 105px; }

.width-abs-110 { width: 110px; }

.width-abs-115 { width: 115px; }

.width-abs-120 { width: 120px; }

.width-abs-125 { width: 125px; }

.width-abs-130 { width: 130px; }

.width-abs-135 { width: 135px; }

.width-abs-140 { width: 140px; }

.width-abs-145 { width: 145px; }

.width-abs-150 { width: 150px; }

.width-abs-155 { width: 155px; }

.width-abs-160 { width: 160px; }

.width-abs-165 { width: 165px; }

.width-abs-170 { width: 170px; }

.width-abs-175 { width: 175px; }

.width-abs-180 { width: 180px; }

.width-abs-185 { width: 185px; }

.width-abs-190 { width: 190px; }

.width-abs-195 { width: 195px; }

.width-abs-200 { width: 200px; }

.width-abs-205 { width: 205px; }

.width-abs-210 { width: 210px; }

.width-abs-215 { width: 215px; }

.width-abs-220 { width: 220px; }

.width-abs-225 { width: 225px; }

.width-abs-230 { width: 230px; }

.width-abs-235 { width: 235px; }

.width-abs-240 { width: 240px; }

.width-abs-245 { width: 245px; }

.width-abs-250 { width: 250px; }

.width-abs-255 { width: 255px; }

.width-abs-260 { width: 260px; }

.width-abs-265 { width: 265px; }

.width-abs-270 { width: 270px; }

.width-abs-275 { width: 275px; }

.width-abs-280 { width: 280px; }

.width-abs-285 { width: 285px; }

.width-abs-290 { width: 290px; }

.width-abs-295 { width: 295px; }

.width-abs-300 { width: 300px; }

.width-abs-305 { width: 305px; }

.width-abs-310 { width: 310px; }

.width-abs-315 { width: 315px; }

.width-abs-320 { width: 320px; }

.width-abs-325 { width: 325px; }

.width-abs-330 { width: 330px; }

.width-abs-335 { width: 335px; }

.width-abs-340 { width: 340px; }

.width-abs-345 { width: 345px; }

.width-abs-350 { width: 350px; }

.width-abs-355 { width: 355px; }

.width-abs-360 { width: 360px; }

.width-abs-365 { width: 365px; }

.width-abs-370 { width: 370px; }

.width-abs-375 { width: 375px; }

.width-abs-380 { width: 380px; }

.width-abs-385 { width: 385px; }

.width-abs-390 { width: 390px; }

.width-abs-395 { width: 395px; }

.width-abs-400 { width: 400px; }

.width-abs-405 { width: 405px; }

.width-abs-410 { width: 410px; }

.width-abs-415 { width: 415px; }

.width-abs-420 { width: 420px; }

.width-abs-425 { width: 425px; }

.width-abs-430 { width: 430px; }

.width-abs-435 { width: 435px; }

.width-abs-440 { width: 440px; }

.width-abs-445 { width: 445px; }

.width-abs-450 { width: 450px; }

.width-abs-455 { width: 455px; }

.width-abs-460 { width: 460px; }

.width-abs-465 { width: 465px; }

.width-abs-470 { width: 470px; }

.width-abs-475 { width: 475px; }

.width-abs-480 { width: 480px; }

.width-abs-485 { width: 485px; }

.width-abs-490 { width: 490px; }

.width-abs-495 { width: 495px; }

.width-abs-500 { width: 500px; }

.width-abs-505 { width: 505px; }

.width-abs-510 { width: 510px; }

.width-abs-515 { width: 515px; }

.width-abs-520 { width: 520px; }

.width-abs-525 { width: 525px; }

.width-abs-530 { width: 530px; }

.width-abs-535 { width: 535px; }

.width-abs-540 { width: 540px; }

.width-abs-545 { width: 545px; }

.width-abs-550 { width: 550px; }

.width-abs-555 { width: 555px; }

.width-abs-560 { width: 560px; }

.width-abs-565 { width: 565px; }

.width-abs-570 { width: 570px; }

.width-abs-575 { width: 575px; }

.width-abs-580 { width: 580px; }

.width-abs-585 { width: 585px; }

.width-abs-590 { width: 590px; }

.width-abs-595 { width: 595px; }

.width-abs-600 { width: 600px; }

.width-abs-605 { width: 605px; }

.width-abs-610 { width: 610px; }

.width-abs-615 { width: 615px; }

.width-abs-620 { width: 620px; }

.width-abs-625 { width: 625px; }

.width-abs-630 { width: 630px; }

.width-abs-635 { width: 635px; }

.width-abs-640 { width: 640px; }

.width-abs-645 { width: 645px; }

.width-abs-650 { width: 650px; }

.width-abs-655 { width: 655px; }

.width-abs-660 { width: 660px; }

.width-abs-665 { width: 665px; }

.width-abs-670 { width: 670px; }

.width-abs-675 { width: 675px; }

.width-abs-680 { width: 680px; }

.width-abs-685 { width: 685px; }

.width-abs-690 { width: 690px; }

.width-abs-695 { width: 695px; }

.width-abs-700 { width: 700px; }

.width-abs-705 { width: 705px; }

.width-abs-710 { width: 710px; }

.width-abs-715 { width: 715px; }

.width-abs-720 { width: 720px; }

.width-abs-725 { width: 725px; }

.width-abs-730 { width: 730px; }

.width-abs-735 { width: 735px; }

.width-abs-740 { width: 740px; }

.width-abs-745 { width: 745px; }

.width-abs-750 { width: 750px; }

.width-abs-755 { width: 755px; }

.width-abs-760 { width: 760px; }

.width-abs-765 { width: 765px; }

.width-abs-770 { width: 770px; }

.width-abs-775 { width: 775px; }

.width-abs-780 { width: 780px; }

.width-abs-785 { width: 785px; }

.width-abs-790 { width: 790px; }

.width-abs-795 { width: 795px; }

.width-abs-800 { width: 800px; }

.width-abs-805 { width: 805px; }

.width-abs-810 { width: 810px; }

.width-abs-815 { width: 815px; }

.width-abs-820 { width: 820px; }

.width-abs-825 { width: 825px; }

.width-abs-830 { width: 830px; }

.width-abs-835 { width: 835px; }

.width-abs-840 { width: 840px; }

.width-abs-845 { width: 845px; }

.width-abs-850 { width: 850px; }

.width-abs-855 { width: 855px; }

.width-abs-860 { width: 860px; }

.width-abs-865 { width: 865px; }

.width-abs-870 { width: 870px; }

.width-abs-875 { width: 875px; }

.width-abs-880 { width: 880px; }

.width-abs-885 { width: 885px; }

.width-abs-890 { width: 890px; }

.width-abs-895 { width: 895px; }

.width-abs-900 { width: 900px; }

.width-abs-905 { width: 905px; }

.width-abs-910 { width: 910px; }

.width-abs-915 { width: 915px; }

.width-abs-920 { width: 920px; }

.width-abs-925 { width: 925px; }

.width-abs-930 { width: 930px; }

.width-abs-935 { width: 935px; }

.width-abs-940 { width: 940px; }

.width-abs-945 { width: 945px; }

.width-abs-950 { width: 950px; }

.width-abs-955 { width: 955px; }

.width-abs-960 { width: 960px; }

.width-abs-965 { width: 965px; }

.width-abs-970 { width: 970px; }

.width-abs-975 { width: 975px; }

.width-abs-980 { width: 980px; }

.width-abs-985 { width: 985px; }

.width-abs-990 { width: 990px; }

.width-abs-995 { width: 995px; }

.width-abs-1000 { width: 1000px; }

.width-abs-1005 { width: 1005px; }

.width-abs-1010 { width: 1010px; }

.width-abs-1015 { width: 1015px; }

.width-abs-1020 { width: 1020px; }

.width-abs-1025 { width: 1025px; }

.width-abs-1030 { width: 1030px; }

.width-abs-1035 { width: 1035px; }

.width-abs-1040 { width: 1040px; }

.width-abs-1045 { width: 1045px; }

.width-abs-1050 { width: 1050px; }

.width-abs-1055 { width: 1055px; }

.width-abs-1060 { width: 1060px; }

.width-abs-1065 { width: 1065px; }

.width-abs-1070 { width: 1070px; }

.width-abs-1075 { width: 1075px; }

.width-abs-1080 { width: 1080px; }

.width-abs-1085 { width: 1085px; }

.width-abs-1090 { width: 1090px; }

.width-abs-1095 { width: 1095px; }

.width-abs-1100 { width: 1100px; }

.width-abs-1105 { width: 1105px; }

.width-abs-1110 { width: 1110px; }

.width-abs-1115 { width: 1115px; }

.width-abs-1120 { width: 1120px; }

.width-abs-1125 { width: 1125px; }

.width-abs-1130 { width: 1130px; }

.width-abs-1135 { width: 1135px; }

.width-abs-1140 { width: 1140px; }

.width-abs-1145 { width: 1145px; }

.width-abs-1150 { width: 1150px; }

.width-abs-1155 { width: 1155px; }

.width-abs-1160 { width: 1160px; }

.width-abs-1165 { width: 1165px; }

.width-abs-1170 { width: 1170px; }

.width-abs-1175 { width: 1175px; }

.width-abs-1180 { width: 1180px; }

.width-abs-1185 { width: 1185px; }

.width-abs-1190 { width: 1190px; }

.width-abs-1195 { width: 1195px; }

.width-abs-1200 { width: 1200px; }

.width-abs-1205 { width: 1205px; }

.width-abs-1210 { width: 1210px; }

.width-abs-1215 { width: 1215px; }

.width-abs-1220 { width: 1220px; }

.width-abs-1225 { width: 1225px; }

.width-abs-1230 { width: 1230px; }

.width-abs-1235 { width: 1235px; }

.width-abs-1240 { width: 1240px; }

.width-abs-1245 { width: 1245px; }

.width-abs-1250 { width: 1250px; }

.width-abs-1255 { width: 1255px; }

.width-abs-1260 { width: 1260px; }

.width-abs-1265 { width: 1265px; }

.width-abs-1270 { width: 1270px; }

.width-abs-1275 { width: 1275px; }

.width-abs-1280 { width: 1280px; }

.width-abs-1285 { width: 1285px; }

.width-abs-1290 { width: 1290px; }

.width-abs-1295 { width: 1295px; }

.width-abs-1300 { width: 1300px; }

.width-abs-1305 { width: 1305px; }

.width-abs-1310 { width: 1310px; }

.width-abs-1315 { width: 1315px; }

.width-abs-1320 { width: 1320px; }

.width-abs-1325 { width: 1325px; }

.width-abs-1330 { width: 1330px; }

.width-abs-1335 { width: 1335px; }

.width-abs-1340 { width: 1340px; }

.width-abs-1345 { width: 1345px; }

.width-abs-1350 { width: 1350px; }

.width-abs-1355 { width: 1355px; }

.width-abs-1360 { width: 1360px; }

.width-abs-1365 { width: 1365px; }

.width-abs-1370 { width: 1370px; }

.width-abs-1375 { width: 1375px; }

.width-abs-1380 { width: 1380px; }

.width-abs-1385 { width: 1385px; }

.width-abs-1390 { width: 1390px; }

.width-abs-1395 { width: 1395px; }

.width-abs-1400 { width: 1400px; }

.width-abs-1405 { width: 1405px; }

.width-abs-1410 { width: 1410px; }

.width-abs-1415 { width: 1415px; }

.width-abs-1420 { width: 1420px; }

.width-abs-1425 { width: 1425px; }

.width-abs-1430 { width: 1430px; }

.width-abs-1435 { width: 1435px; }

.width-abs-1440 { width: 1440px; }

.width-abs-1445 { width: 1445px; }

.width-abs-1450 { width: 1450px; }

.width-abs-1455 { width: 1455px; }

.width-abs-1460 { width: 1460px; }

.width-abs-1465 { width: 1465px; }

.width-abs-1470 { width: 1470px; }

.width-abs-1475 { width: 1475px; }

.width-abs-1480 { width: 1480px; }

.width-abs-1485 { width: 1485px; }

.width-abs-1490 { width: 1490px; }

.width-abs-1495 { width: 1495px; }

.width-abs-1500 { width: 1500px; }

.width-abs-1505 { width: 1505px; }

.width-abs-1510 { width: 1510px; }

.width-abs-1515 { width: 1515px; }

.width-abs-1520 { width: 1520px; }

.width-abs-1525 { width: 1525px; }

.width-abs-1530 { width: 1530px; }

.width-abs-1535 { width: 1535px; }

.width-abs-1540 { width: 1540px; }

.width-abs-1545 { width: 1545px; }

.width-abs-1550 { width: 1550px; }

.width-abs-1555 { width: 1555px; }

.width-abs-1560 { width: 1560px; }

.width-abs-1565 { width: 1565px; }

.width-abs-1570 { width: 1570px; }

.width-abs-1575 { width: 1575px; }

.width-abs-1580 { width: 1580px; }

.width-abs-1585 { width: 1585px; }

.width-abs-1590 { width: 1590px; }

.width-abs-1595 { width: 1595px; }

.width-abs-1600 { width: 1600px; }

.width-abs-1605 { width: 1605px; }

.width-abs-1610 { width: 1610px; }

.width-abs-1615 { width: 1615px; }

.width-abs-1620 { width: 1620px; }

.width-abs-1625 { width: 1625px; }

.width-abs-1630 { width: 1630px; }

.width-abs-1635 { width: 1635px; }

.width-abs-1640 { width: 1640px; }

.width-abs-1645 { width: 1645px; }

.width-abs-1650 { width: 1650px; }

.width-abs-1655 { width: 1655px; }

.width-abs-1660 { width: 1660px; }

.width-abs-1665 { width: 1665px; }

.width-abs-1670 { width: 1670px; }

.width-abs-1675 { width: 1675px; }

.width-abs-1680 { width: 1680px; }

.width-abs-1685 { width: 1685px; }

.width-abs-1690 { width: 1690px; }

.width-abs-1695 { width: 1695px; }

.width-abs-1700 { width: 1700px; }

.width-abs-1705 { width: 1705px; }

.width-abs-1710 { width: 1710px; }

.width-abs-1715 { width: 1715px; }

.width-abs-1720 { width: 1720px; }

.width-abs-1725 { width: 1725px; }

.width-abs-1730 { width: 1730px; }

.width-abs-1735 { width: 1735px; }

.width-abs-1740 { width: 1740px; }

.width-abs-1745 { width: 1745px; }

.width-abs-1750 { width: 1750px; }

.width-abs-1755 { width: 1755px; }

.width-abs-1760 { width: 1760px; }

.width-abs-1765 { width: 1765px; }

.width-abs-1770 { width: 1770px; }

.width-abs-1775 { width: 1775px; }

.width-abs-1780 { width: 1780px; }

.width-abs-1785 { width: 1785px; }

.width-abs-1790 { width: 1790px; }

.width-abs-1795 { width: 1795px; }

.width-abs-1800 { width: 1800px; }

.width-abs-1805 { width: 1805px; }

.width-abs-1810 { width: 1810px; }

.width-abs-1815 { width: 1815px; }

.width-abs-1820 { width: 1820px; }

.width-abs-1825 { width: 1825px; }

.width-abs-1830 { width: 1830px; }

.width-abs-1835 { width: 1835px; }

.width-abs-1840 { width: 1840px; }

.width-abs-1845 { width: 1845px; }

.width-abs-1850 { width: 1850px; }

.width-abs-1855 { width: 1855px; }

.width-abs-1860 { width: 1860px; }

.width-abs-1865 { width: 1865px; }

.width-abs-1870 { width: 1870px; }

.width-abs-1875 { width: 1875px; }

.width-abs-1880 { width: 1880px; }

.width-abs-1885 { width: 1885px; }

.width-abs-1890 { width: 1890px; }

.width-abs-1895 { width: 1895px; }

.width-abs-1900 { width: 1900px; }

.width-abs-1905 { width: 1905px; }

.width-abs-1910 { width: 1910px; }

.width-abs-1915 { width: 1915px; }

.width-abs-1920 { width: 1920px; }

.width-abs-1925 { width: 1925px; }

.width-abs-1930 { width: 1930px; }

.width-abs-1935 { width: 1935px; }

.width-abs-1940 { width: 1940px; }

.width-abs-1945 { width: 1945px; }

.width-abs-1950 { width: 1950px; }

.width-abs-1955 { width: 1955px; }

.width-abs-1960 { width: 1960px; }

.width-abs-1965 { width: 1965px; }

.width-abs-1970 { width: 1970px; }

.width-abs-1975 { width: 1975px; }

.width-abs-1980 { width: 1980px; }

.width-abs-1985 { width: 1985px; }

.width-abs-1990 { width: 1990px; }

.width-abs-1995 { width: 1995px; }

.width-abs-2000 { width: 2000px; }

/****** Height Relative ****** */
.height-rel-0 { height: 0%; }

.height-rel-1 { height: 1%; }

.height-rel-2 { height: 2%; }

.height-rel-3 { height: 3%; }

.height-rel-4 { height: 4%; }

.height-rel-5 { height: 5%; }

.height-rel-6 { height: 6%; }

.height-rel-7 { height: 7%; }

.height-rel-8 { height: 8%; }

.height-rel-9 { height: 9%; }

.height-rel-10 { height: 10%; }

.height-rel-11 { height: 11%; }

.height-rel-12 { height: 12%; }

.height-rel-13 { height: 13%; }

.height-rel-14 { height: 14%; }

.height-rel-15 { height: 15%; }

.height-rel-16 { height: 16%; }

.height-rel-17 { height: 17%; }

.height-rel-18 { height: 18%; }

.height-rel-19 { height: 19%; }

.height-rel-20 { height: 20%; }

.height-rel-21 { height: 21%; }

.height-rel-22 { height: 22%; }

.height-rel-23 { height: 23%; }

.height-rel-24 { height: 24%; }

.height-rel-25 { height: 25%; }

.height-rel-26 { height: 26%; }

.height-rel-27 { height: 27%; }

.height-rel-28 { height: 28%; }

.height-rel-29 { height: 29%; }

.height-rel-30 { height: 30%; }

.height-rel-31 { height: 31%; }

.height-rel-32 { height: 32%; }

.height-rel-33 { height: 33%; }

.height-rel-34 { height: 34%; }

.height-rel-35 { height: 35%; }

.height-rel-36 { height: 36%; }

.height-rel-37 { height: 37%; }

.height-rel-38 { height: 38%; }

.height-rel-39 { height: 39%; }

.height-rel-40 { height: 40%; }

.height-rel-41 { height: 41%; }

.height-rel-42 { height: 42%; }

.height-rel-43 { height: 43%; }

.height-rel-44 { height: 44%; }

.height-rel-45 { height: 45%; }

.height-rel-46 { height: 46%; }

.height-rel-47 { height: 47%; }

.height-rel-48 { height: 48%; }

.height-rel-49 { height: 49%; }

.height-rel-50 { height: 50%; }

.height-rel-51 { height: 51%; }

.height-rel-52 { height: 52%; }

.height-rel-53 { height: 53%; }

.height-rel-54 { height: 54%; }

.height-rel-55 { height: 55%; }

.height-rel-56 { height: 56%; }

.height-rel-57 { height: 57%; }

.height-rel-58 { height: 58%; }

.height-rel-59 { height: 59%; }

.height-rel-60 { height: 60%; }

.height-rel-61 { height: 61%; }

.height-rel-62 { height: 62%; }

.height-rel-63 { height: 63%; }

.height-rel-64 { height: 64%; }

.height-rel-65 { height: 65%; }

.height-rel-66 { height: 66%; }

.height-rel-67 { height: 67%; }

.height-rel-68 { height: 68%; }

.height-rel-69 { height: 69%; }

.height-rel-70 { height: 70%; }

.height-rel-71 { height: 71%; }

.height-rel-72 { height: 72%; }

.height-rel-73 { height: 73%; }

.height-rel-74 { height: 74%; }

.height-rel-75 { height: 75%; }

.height-rel-76 { height: 76%; }

.height-rel-77 { height: 77%; }

.height-rel-78 { height: 78%; }

.height-rel-79 { height: 79%; }

.height-rel-80 { height: 80%; }

.height-rel-81 { height: 81%; }

.height-rel-82 { height: 82%; }

.height-rel-83 { height: 83%; }

.height-rel-84 { height: 84%; }

.height-rel-85 { height: 85%; }

.height-rel-86 { height: 86%; }

.height-rel-87 { height: 87%; }

.height-rel-88 { height: 88%; }

.height-rel-89 { height: 89%; }

.height-rel-90 { height: 90%; }

.height-rel-91 { height: 91%; }

.height-rel-92 { height: 92%; }

.height-rel-93 { height: 93%; }

.height-rel-94 { height: 94%; }

.height-rel-95 { height: 95%; }

.height-rel-96 { height: 96%; }

.height-rel-97 { height: 97%; }

.height-rel-98 { height: 98%; }

.height-rel-99 { height: 99%; }

.height-rel-100 { height: 100%; }

.height-rel-101 { height: 101%; }

.height-rel-102 { height: 102%; }

.height-rel-103 { height: 103%; }

.height-rel-104 { height: 104%; }

.height-rel-105 { height: 105%; }

.height-rel-106 { height: 106%; }

.height-rel-107 { height: 107%; }

.height-rel-108 { height: 108%; }

.height-rel-109 { height: 109%; }

.height-rel-110 { height: 110%; }

.height-rel-111 { height: 111%; }

.height-rel-112 { height: 112%; }

.height-rel-113 { height: 113%; }

.height-rel-114 { height: 114%; }

.height-rel-115 { height: 115%; }

.height-rel-116 { height: 116%; }

.height-rel-117 { height: 117%; }

.height-rel-118 { height: 118%; }

.height-rel-119 { height: 119%; }

.height-rel-120 { height: 120%; }

.height-rel-121 { height: 121%; }

.height-rel-122 { height: 122%; }

.height-rel-123 { height: 123%; }

.height-rel-124 { height: 124%; }

.height-rel-125 { height: 125%; }

.height-rel-126 { height: 126%; }

.height-rel-127 { height: 127%; }

.height-rel-128 { height: 128%; }

.height-rel-129 { height: 129%; }

.height-rel-130 { height: 130%; }

.height-rel-131 { height: 131%; }

.height-rel-132 { height: 132%; }

.height-rel-133 { height: 133%; }

.height-rel-134 { height: 134%; }

.height-rel-135 { height: 135%; }

.height-rel-136 { height: 136%; }

.height-rel-137 { height: 137%; }

.height-rel-138 { height: 138%; }

.height-rel-139 { height: 139%; }

.height-rel-140 { height: 140%; }

.height-rel-141 { height: 141%; }

.height-rel-142 { height: 142%; }

.height-rel-143 { height: 143%; }

.height-rel-144 { height: 144%; }

.height-rel-145 { height: 145%; }

.height-rel-146 { height: 146%; }

.height-rel-147 { height: 147%; }

.height-rel-148 { height: 148%; }

.height-rel-149 { height: 149%; }

.height-rel-150 { height: 150%; }

/****** Width Relative ****** */
.width-rel-0 { width: 0%; }

.width-rel-1 { width: 1%; }

.width-rel-2 { width: 2%; }

.width-rel-3 { width: 3%; }

.width-rel-4 { width: 4%; }

.width-rel-5 { width: 5%; }

.width-rel-6 { width: 6%; }

.width-rel-7 { width: 7%; }

.width-rel-8 { width: 8%; }

.width-rel-9 { width: 9%; }

.width-rel-10 { width: 10%; }

.width-rel-11 { width: 11%; }

.width-rel-12 { width: 12%; }

.width-rel-13 { width: 13%; }

.width-rel-14 { width: 14%; }

.width-rel-15 { width: 15%; }

.width-rel-16 { width: 16%; }

.width-rel-17 { width: 17%; }

.width-rel-18 { width: 18%; }

.width-rel-19 { width: 19%; }

.width-rel-20 { width: 20%; }

.width-rel-21 { width: 21%; }

.width-rel-22 { width: 22%; }

.width-rel-23 { width: 23%; }

.width-rel-24 { width: 24%; }

.width-rel-25 { width: 25%; }

.width-rel-26 { width: 26%; }

.width-rel-27 { width: 27%; }

.width-rel-28 { width: 28%; }

.width-rel-29 { width: 29%; }

.width-rel-30 { width: 30%; }

.width-rel-31 { width: 31%; }

.width-rel-32 { width: 32%; }

.width-rel-33 { width: 33%; }

.width-rel-34 { width: 34%; }

.width-rel-35 { width: 35%; }

.width-rel-36 { width: 36%; }

.width-rel-37 { width: 37%; }

.width-rel-38 { width: 38%; }

.width-rel-39 { width: 39%; }

.width-rel-40 { width: 40%; }

.width-rel-41 { width: 41%; }

.width-rel-42 { width: 42%; }

.width-rel-43 { width: 43%; }

.width-rel-44 { width: 44%; }

.width-rel-45 { width: 45%; }

.width-rel-46 { width: 46%; }

.width-rel-47 { width: 47%; }

.width-rel-48 { width: 48%; }

.width-rel-49 { width: 49%; }

.width-rel-50 { width: 50%; }

.width-rel-51 { width: 51%; }

.width-rel-52 { width: 52%; }

.width-rel-53 { width: 53%; }

.width-rel-54 { width: 54%; }

.width-rel-55 { width: 55%; }

.width-rel-56 { width: 56%; }

.width-rel-57 { width: 57%; }

.width-rel-58 { width: 58%; }

.width-rel-59 { width: 59%; }

.width-rel-60 { width: 60%; }

.width-rel-61 { width: 61%; }

.width-rel-62 { width: 62%; }

.width-rel-63 { width: 63%; }

.width-rel-64 { width: 64%; }

.width-rel-65 { width: 65%; }

.width-rel-66 { width: 66%; }

.width-rel-67 { width: 67%; }

.width-rel-68 { width: 68%; }

.width-rel-69 { width: 69%; }

.width-rel-70 { width: 70%; }

.width-rel-71 { width: 71%; }

.width-rel-72 { width: 72%; }

.width-rel-73 { width: 73%; }

.width-rel-74 { width: 74%; }

.width-rel-75 { width: 75%; }

.width-rel-76 { width: 76%; }

.width-rel-77 { width: 77%; }

.width-rel-78 { width: 78%; }

.width-rel-79 { width: 79%; }

.width-rel-80 { width: 80%; }

.width-rel-81 { width: 81%; }

.width-rel-82 { width: 82%; }

.width-rel-83 { width: 83%; }

.width-rel-84 { width: 84%; }

.width-rel-85 { width: 85%; }

.width-rel-86 { width: 86%; }

.width-rel-87 { width: 87%; }

.width-rel-88 { width: 88%; }

.width-rel-89 { width: 89%; }

.width-rel-90 { width: 90%; }

.width-rel-91 { width: 91%; }

.width-rel-92 { width: 92%; }

.width-rel-93 { width: 93%; }

.width-rel-94 { width: 94%; }

.width-rel-95 { width: 95%; }

.width-rel-96 { width: 96%; }

.width-rel-97 { width: 97%; }

.width-rel-98 { width: 98%; }

.width-rel-99 { width: 99%; }

.width-rel-100 { width: 100%; }

.width-rel-101 { width: 101%; }

.width-rel-102 { width: 102%; }

.width-rel-103 { width: 103%; }

.width-rel-104 { width: 104%; }

.width-rel-105 { width: 105%; }

.width-rel-106 { width: 106%; }

.width-rel-107 { width: 107%; }

.width-rel-108 { width: 108%; }

.width-rel-109 { width: 109%; }

.width-rel-110 { width: 110%; }

.width-rel-111 { width: 111%; }

.width-rel-112 { width: 112%; }

.width-rel-113 { width: 113%; }

.width-rel-114 { width: 114%; }

.width-rel-115 { width: 115%; }

.width-rel-116 { width: 116%; }

.width-rel-117 { width: 117%; }

.width-rel-118 { width: 118%; }

.width-rel-119 { width: 119%; }

.width-rel-120 { width: 120%; }

.width-rel-121 { width: 121%; }

.width-rel-122 { width: 122%; }

.width-rel-123 { width: 123%; }

.width-rel-124 { width: 124%; }

.width-rel-125 { width: 125%; }

.width-rel-126 { width: 126%; }

.width-rel-127 { width: 127%; }

.width-rel-128 { width: 128%; }

.width-rel-129 { width: 129%; }

.width-rel-130 { width: 130%; }

.width-rel-131 { width: 131%; }

.width-rel-132 { width: 132%; }

.width-rel-133 { width: 133%; }

.width-rel-134 { width: 134%; }

.width-rel-135 { width: 135%; }

.width-rel-136 { width: 136%; }

.width-rel-137 { width: 137%; }

.width-rel-138 { width: 138%; }

.width-rel-139 { width: 139%; }

.width-rel-140 { width: 140%; }

.width-rel-141 { width: 141%; }

.width-rel-142 { width: 142%; }

.width-rel-143 { width: 143%; }

.width-rel-144 { width: 144%; }

.width-rel-145 { width: 145%; }

.width-rel-146 { width: 146%; }

.width-rel-147 { width: 147%; }

.width-rel-148 { width: 148%; }

.width-rel-149 { width: 149%; }

.width-rel-150 { width: 150%; }

/****** Height Viewport Height ****** */
.height-vh-1 { height: 1vh; }

.height-vh-2 { height: 2vh; }

.height-vh-3 { height: 3vh; }

.height-vh-4 { height: 4vh; }

.height-vh-5 { height: 5vh; }

.height-vh-6 { height: 6vh; }

.height-vh-7 { height: 7vh; }

.height-vh-8 { height: 8vh; }

.height-vh-9 { height: 9vh; }

.height-vh-10 { height: 10vh; }

.height-vh-11 { height: 11vh; }

.height-vh-12 { height: 12vh; }

.height-vh-13 { height: 13vh; }

.height-vh-14 { height: 14vh; }

.height-vh-15 { height: 15vh; }

.height-vh-16 { height: 16vh; }

.height-vh-17 { height: 17vh; }

.height-vh-18 { height: 18vh; }

.height-vh-19 { height: 19vh; }

.height-vh-20 { height: 20vh; }

.height-vh-21 { height: 21vh; }

.height-vh-22 { height: 22vh; }

.height-vh-23 { height: 23vh; }

.height-vh-24 { height: 24vh; }

.height-vh-25 { height: 25vh; }

.height-vh-26 { height: 26vh; }

.height-vh-27 { height: 27vh; }

.height-vh-28 { height: 28vh; }

.height-vh-29 { height: 29vh; }

.height-vh-30 { height: 30vh; }

.height-vh-31 { height: 31vh; }

.height-vh-32 { height: 32vh; }

.height-vh-33 { height: 33vh; }

.height-vh-34 { height: 34vh; }

.height-vh-35 { height: 35vh; }

.height-vh-36 { height: 36vh; }

.height-vh-37 { height: 37vh; }

.height-vh-38 { height: 38vh; }

.height-vh-39 { height: 39vh; }

.height-vh-40 { height: 40vh; }

.height-vh-41 { height: 41vh; }

.height-vh-42 { height: 42vh; }

.height-vh-43 { height: 43vh; }

.height-vh-44 { height: 44vh; }

.height-vh-45 { height: 45vh; }

.height-vh-46 { height: 46vh; }

.height-vh-47 { height: 47vh; }

.height-vh-48 { height: 48vh; }

.height-vh-49 { height: 49vh; }

.height-vh-50 { height: 50vh; }

.height-vh-51 { height: 51vh; }

.height-vh-52 { height: 52vh; }

.height-vh-53 { height: 53vh; }

.height-vh-54 { height: 54vh; }

.height-vh-55 { height: 55vh; }

.height-vh-56 { height: 56vh; }

.height-vh-57 { height: 57vh; }

.height-vh-58 { height: 58vh; }

.height-vh-59 { height: 59vh; }

.height-vh-60 { height: 60vh; }

.height-vh-61 { height: 61vh; }

.height-vh-62 { height: 62vh; }

.height-vh-63 { height: 63vh; }

.height-vh-64 { height: 64vh; }

.height-vh-65 { height: 65vh; }

.height-vh-66 { height: 66vh; }

.height-vh-67 { height: 67vh; }

.height-vh-68 { height: 68vh; }

.height-vh-69 { height: 69vh; }

.height-vh-70 { height: 70vh; }

.height-vh-71 { height: 71vh; }

.height-vh-72 { height: 72vh; }

.height-vh-73 { height: 73vh; }

.height-vh-74 { height: 74vh; }

.height-vh-75 { height: 75vh; }

.height-vh-76 { height: 76vh; }

.height-vh-77 { height: 77vh; }

.height-vh-78 { height: 78vh; }

.height-vh-79 { height: 79vh; }

.height-vh-80 { height: 80vh; }

.height-vh-81 { height: 81vh; }

.height-vh-82 { height: 82vh; }

.height-vh-83 { height: 83vh; }

.height-vh-84 { height: 84vh; }

.height-vh-85 { height: 85vh; }

.height-vh-86 { height: 86vh; }

.height-vh-87 { height: 87vh; }

.height-vh-88 { height: 88vh; }

.height-vh-89 { height: 89vh; }

.height-vh-90 { height: 90vh; }

.height-vh-91 { height: 91vh; }

.height-vh-92 { height: 92vh; }

.height-vh-93 { height: 93vh; }

.height-vh-94 { height: 94vh; }

.height-vh-95 { height: 95vh; }

.height-vh-96 { height: 96vh; }

.height-vh-97 { height: 97vh; }

.height-vh-98 { height: 98vh; }

.height-vh-99 { height: 99vh; }

.height-vh-100 { height: 100vh; }

.height-vh-101 { height: 101vh; }

.height-vh-102 { height: 102vh; }

.height-vh-103 { height: 103vh; }

.height-vh-104 { height: 104vh; }

.height-vh-105 { height: 105vh; }

.height-vh-106 { height: 106vh; }

.height-vh-107 { height: 107vh; }

.height-vh-108 { height: 108vh; }

.height-vh-109 { height: 109vh; }

.height-vh-110 { height: 110vh; }

.height-vh-111 { height: 111vh; }

.height-vh-112 { height: 112vh; }

.height-vh-113 { height: 113vh; }

.height-vh-114 { height: 114vh; }

.height-vh-115 { height: 115vh; }

.height-vh-116 { height: 116vh; }

.height-vh-117 { height: 117vh; }

.height-vh-118 { height: 118vh; }

.height-vh-119 { height: 119vh; }

.height-vh-120 { height: 120vh; }

.height-vh-121 { height: 121vh; }

.height-vh-122 { height: 122vh; }

.height-vh-123 { height: 123vh; }

.height-vh-124 { height: 124vh; }

.height-vh-125 { height: 125vh; }

.height-vh-126 { height: 126vh; }

.height-vh-127 { height: 127vh; }

.height-vh-128 { height: 128vh; }

.height-vh-129 { height: 129vh; }

.height-vh-130 { height: 130vh; }

.height-vh-131 { height: 131vh; }

.height-vh-132 { height: 132vh; }

.height-vh-133 { height: 133vh; }

.height-vh-134 { height: 134vh; }

.height-vh-135 { height: 135vh; }

.height-vh-136 { height: 136vh; }

.height-vh-137 { height: 137vh; }

.height-vh-138 { height: 138vh; }

.height-vh-139 { height: 139vh; }

.height-vh-140 { height: 140vh; }

.height-vh-141 { height: 141vh; }

.height-vh-142 { height: 142vh; }

.height-vh-143 { height: 143vh; }

.height-vh-144 { height: 144vh; }

.height-vh-145 { height: 145vh; }

.height-vh-146 { height: 146vh; }

.height-vh-147 { height: 147vh; }

.height-vh-148 { height: 148vh; }

.height-vh-149 { height: 149vh; }

.height-vh-150 { height: 150vh; }

/****** Width Viewport ****** */
.width-vw-1 { width: 1vw; }

.width-vw-2 { width: 2vw; }

.width-vw-3 { width: 3vw; }

.width-vw-4 { width: 4vw; }

.width-vw-5 { width: 5vw; }

.width-vw-6 { width: 6vw; }

.width-vw-7 { width: 7vw; }

.width-vw-8 { width: 8vw; }

.width-vw-9 { width: 9vw; }

.width-vw-10 { width: 10vw; }

.width-vw-11 { width: 11vw; }

.width-vw-12 { width: 12vw; }

.width-vw-13 { width: 13vw; }

.width-vw-14 { width: 14vw; }

.width-vw-15 { width: 15vw; }

.width-vw-16 { width: 16vw; }

.width-vw-17 { width: 17vw; }

.width-vw-18 { width: 18vw; }

.width-vw-19 { width: 19vw; }

.width-vw-20 { width: 20vw; }

.width-vw-21 { width: 21vw; }

.width-vw-22 { width: 22vw; }

.width-vw-23 { width: 23vw; }

.width-vw-24 { width: 24vw; }

.width-vw-25 { width: 25vw; }

.width-vw-26 { width: 26vw; }

.width-vw-27 { width: 27vw; }

.width-vw-28 { width: 28vw; }

.width-vw-29 { width: 29vw; }

.width-vw-30 { width: 30vw; }

.width-vw-31 { width: 31vw; }

.width-vw-32 { width: 32vw; }

.width-vw-33 { width: 33vw; }

.width-vw-34 { width: 34vw; }

.width-vw-35 { width: 35vw; }

.width-vw-36 { width: 36vw; }

.width-vw-37 { width: 37vw; }

.width-vw-38 { width: 38vw; }

.width-vw-39 { width: 39vw; }

.width-vw-40 { width: 40vw; }

.width-vw-41 { width: 41vw; }

.width-vw-42 { width: 42vw; }

.width-vw-43 { width: 43vw; }

.width-vw-44 { width: 44vw; }

.width-vw-45 { width: 45vw; }

.width-vw-46 { width: 46vw; }

.width-vw-47 { width: 47vw; }

.width-vw-48 { width: 48vw; }

.width-vw-49 { width: 49vw; }

.width-vw-50 { width: 50vw; }

.width-vw-51 { width: 51vw; }

.width-vw-52 { width: 52vw; }

.width-vw-53 { width: 53vw; }

.width-vw-54 { width: 54vw; }

.width-vw-55 { width: 55vw; }

.width-vw-56 { width: 56vw; }

.width-vw-57 { width: 57vw; }

.width-vw-58 { width: 58vw; }

.width-vw-59 { width: 59vw; }

.width-vw-60 { width: 60vw; }

.width-vw-61 { width: 61vw; }

.width-vw-62 { width: 62vw; }

.width-vw-63 { width: 63vw; }

.width-vw-64 { width: 64vw; }

.width-vw-65 { width: 65vw; }

.width-vw-66 { width: 66vw; }

.width-vw-67 { width: 67vw; }

.width-vw-68 { width: 68vw; }

.width-vw-69 { width: 69vw; }

.width-vw-70 { width: 70vw; }

.width-vw-71 { width: 71vw; }

.width-vw-72 { width: 72vw; }

.width-vw-73 { width: 73vw; }

.width-vw-74 { width: 74vw; }

.width-vw-75 { width: 75vw; }

.width-vw-76 { width: 76vw; }

.width-vw-77 { width: 77vw; }

.width-vw-78 { width: 78vw; }

.width-vw-79 { width: 79vw; }

.width-vw-80 { width: 80vw; }

.width-vw-81 { width: 81vw; }

.width-vw-82 { width: 82vw; }

.width-vw-83 { width: 83vw; }

.width-vw-84 { width: 84vw; }

.width-vw-85 { width: 85vw; }

.width-vw-86 { width: 86vw; }

.width-vw-87 { width: 87vw; }

.width-vw-88 { width: 88vw; }

.width-vw-89 { width: 89vw; }

.width-vw-90 { width: 90vw; }

.width-vw-91 { width: 91vw; }

.width-vw-92 { width: 92vw; }

.width-vw-93 { width: 93vw; }

.width-vw-94 { width: 94vw; }

.width-vw-95 { width: 95vw; }

.width-vw-96 { width: 96vw; }

.width-vw-97 { width: 97vw; }

.width-vw-98 { width: 98vw; }

.width-vw-99 { width: 99vw; }

.width-vw-100 { width: 100vw; }

.width-vw-101 { width: 101vw; }

.width-vw-102 { width: 102vw; }

.width-vw-103 { width: 103vw; }

.width-vw-104 { width: 104vw; }

.width-vw-105 { width: 105vw; }

.width-vw-106 { width: 106vw; }

.width-vw-107 { width: 107vw; }

.width-vw-108 { width: 108vw; }

.width-vw-109 { width: 109vw; }

.width-vw-110 { width: 110vw; }

.width-vw-111 { width: 111vw; }

.width-vw-112 { width: 112vw; }

.width-vw-113 { width: 113vw; }

.width-vw-114 { width: 114vw; }

.width-vw-115 { width: 115vw; }

.width-vw-116 { width: 116vw; }

.width-vw-117 { width: 117vw; }

.width-vw-118 { width: 118vw; }

.width-vw-119 { width: 119vw; }

.width-vw-120 { width: 120vw; }

.width-vw-121 { width: 121vw; }

.width-vw-122 { width: 122vw; }

.width-vw-123 { width: 123vw; }

.width-vw-124 { width: 124vw; }

.width-vw-125 { width: 125vw; }

.width-vw-126 { width: 126vw; }

.width-vw-127 { width: 127vw; }

.width-vw-128 { width: 128vw; }

.width-vw-129 { width: 129vw; }

.width-vw-130 { width: 130vw; }

.width-vw-131 { width: 131vw; }

.width-vw-132 { width: 132vw; }

.width-vw-133 { width: 133vw; }

.width-vw-134 { width: 134vw; }

.width-vw-135 { width: 135vw; }

.width-vw-136 { width: 136vw; }

.width-vw-137 { width: 137vw; }

.width-vw-138 { width: 138vw; }

.width-vw-139 { width: 139vw; }

.width-vw-140 { width: 140vw; }

.width-vw-141 { width: 141vw; }

.width-vw-142 { width: 142vw; }

.width-vw-143 { width: 143vw; }

.width-vw-144 { width: 144vw; }

.width-vw-145 { width: 145vw; }

.width-vw-146 { width: 146vw; }

.width-vw-147 { width: 147vw; }

.width-vw-148 { width: 148vw; }

.width-vw-149 { width: 149vw; }

.width-vw-150 { width: 150vw; }

.text-xxxl { font-size: 32pt; }

.text-xxl { font-size: 24pt; }

.text-xl { font-size: 22pt; }

.text-lg { font-size: 18pt; }

.text-md { font-size: 16pt; }

.text-sm { font-size: 12pt; }

.text-xs { font-size: 10pt; }

.text-xxs { font-size: 8pt; }

.text-1 { font-size: 1pt; }

.text-px-1 { font-size: 1px; }

.text-em-1 { font-size: 1em; }

.text-2 { font-size: 2pt; }

.text-px-2 { font-size: 2px; }

.text-em-2 { font-size: 2em; }

.text-3 { font-size: 3pt; }

.text-px-3 { font-size: 3px; }

.text-em-3 { font-size: 3em; }

.text-4 { font-size: 4pt; }

.text-px-4 { font-size: 4px; }

.text-em-4 { font-size: 4em; }

.text-5 { font-size: 5pt; }

.text-px-5 { font-size: 5px; }

.text-em-5 { font-size: 5em; }

.text-6 { font-size: 6pt; }

.text-px-6 { font-size: 6px; }

.text-em-6 { font-size: 6em; }

.text-7 { font-size: 7pt; }

.text-px-7 { font-size: 7px; }

.text-em-7 { font-size: 7em; }

.text-8 { font-size: 8pt; }

.text-px-8 { font-size: 8px; }

.text-em-8 { font-size: 8em; }

.text-9 { font-size: 9pt; }

.text-px-9 { font-size: 9px; }

.text-em-9 { font-size: 9em; }

.text-10 { font-size: 10pt; }

.text-px-10 { font-size: 10px; }

.text-em-10 { font-size: 10em; }

.text-11 { font-size: 11pt; }

.text-px-11 { font-size: 11px; }

.text-em-11 { font-size: 11em; }

.text-12 { font-size: 12pt; }

.text-px-12 { font-size: 12px; }

.text-em-12 { font-size: 12em; }

.text-13 { font-size: 13pt; }

.text-px-13 { font-size: 13px; }

.text-em-13 { font-size: 13em; }

.text-14 { font-size: 14pt; }

.text-px-14 { font-size: 14px; }

.text-em-14 { font-size: 14em; }

.text-15 { font-size: 15pt; }

.text-px-15 { font-size: 15px; }

.text-em-15 { font-size: 15em; }

.text-16 { font-size: 16pt; }

.text-px-16 { font-size: 16px; }

.text-em-16 { font-size: 16em; }

.text-17 { font-size: 17pt; }

.text-px-17 { font-size: 17px; }

.text-em-17 { font-size: 17em; }

.text-18 { font-size: 18pt; }

.text-px-18 { font-size: 18px; }

.text-em-18 { font-size: 18em; }

.text-19 { font-size: 19pt; }

.text-px-19 { font-size: 19px; }

.text-em-19 { font-size: 19em; }

.text-20 { font-size: 20pt; }

.text-px-20 { font-size: 20px; }

.text-em-20 { font-size: 20em; }

.text-21 { font-size: 21pt; }

.text-px-21 { font-size: 21px; }

.text-em-21 { font-size: 21em; }

.text-22 { font-size: 22pt; }

.text-px-22 { font-size: 22px; }

.text-em-22 { font-size: 22em; }

.text-23 { font-size: 23pt; }

.text-px-23 { font-size: 23px; }

.text-em-23 { font-size: 23em; }

.text-24 { font-size: 24pt; }

.text-px-24 { font-size: 24px; }

.text-em-24 { font-size: 24em; }

.text-25 { font-size: 25pt; }

.text-px-25 { font-size: 25px; }

.text-em-25 { font-size: 25em; }

.text-26 { font-size: 26pt; }

.text-px-26 { font-size: 26px; }

.text-em-26 { font-size: 26em; }

.text-27 { font-size: 27pt; }

.text-px-27 { font-size: 27px; }

.text-em-27 { font-size: 27em; }

.text-28 { font-size: 28pt; }

.text-px-28 { font-size: 28px; }

.text-em-28 { font-size: 28em; }

.text-29 { font-size: 29pt; }

.text-px-29 { font-size: 29px; }

.text-em-29 { font-size: 29em; }

.text-30 { font-size: 30pt; }

.text-px-30 { font-size: 30px; }

.text-em-30 { font-size: 30em; }

.text-31 { font-size: 31pt; }

.text-px-31 { font-size: 31px; }

.text-em-31 { font-size: 31em; }

.text-32 { font-size: 32pt; }

.text-px-32 { font-size: 32px; }

.text-em-32 { font-size: 32em; }

.text-33 { font-size: 33pt; }

.text-px-33 { font-size: 33px; }

.text-em-33 { font-size: 33em; }

.text-34 { font-size: 34pt; }

.text-px-34 { font-size: 34px; }

.text-em-34 { font-size: 34em; }

.text-35 { font-size: 35pt; }

.text-px-35 { font-size: 35px; }

.text-em-35 { font-size: 35em; }

.text-36 { font-size: 36pt; }

.text-px-36 { font-size: 36px; }

.text-em-36 { font-size: 36em; }

.text-37 { font-size: 37pt; }

.text-px-37 { font-size: 37px; }

.text-em-37 { font-size: 37em; }

.text-38 { font-size: 38pt; }

.text-px-38 { font-size: 38px; }

.text-em-38 { font-size: 38em; }

.text-39 { font-size: 39pt; }

.text-px-39 { font-size: 39px; }

.text-em-39 { font-size: 39em; }

.text-40 { font-size: 40pt; }

.text-px-40 { font-size: 40px; }

.text-em-40 { font-size: 40em; }

.text-41 { font-size: 41pt; }

.text-px-41 { font-size: 41px; }

.text-em-41 { font-size: 41em; }

.text-42 { font-size: 42pt; }

.text-px-42 { font-size: 42px; }

.text-em-42 { font-size: 42em; }

.text-43 { font-size: 43pt; }

.text-px-43 { font-size: 43px; }

.text-em-43 { font-size: 43em; }

.text-44 { font-size: 44pt; }

.text-px-44 { font-size: 44px; }

.text-em-44 { font-size: 44em; }

.text-45 { font-size: 45pt; }

.text-px-45 { font-size: 45px; }

.text-em-45 { font-size: 45em; }

.text-46 { font-size: 46pt; }

.text-px-46 { font-size: 46px; }

.text-em-46 { font-size: 46em; }

.text-47 { font-size: 47pt; }

.text-px-47 { font-size: 47px; }

.text-em-47 { font-size: 47em; }

.text-48 { font-size: 48pt; }

.text-px-48 { font-size: 48px; }

.text-em-48 { font-size: 48em; }

.text-49 { font-size: 49pt; }

.text-px-49 { font-size: 49px; }

.text-em-49 { font-size: 49em; }

.text-50 { font-size: 50pt; }

.text-px-50 { font-size: 50px; }

.text-em-50 { font-size: 50em; }

.text-51 { font-size: 51pt; }

.text-px-51 { font-size: 51px; }

.text-em-51 { font-size: 51em; }

.text-52 { font-size: 52pt; }

.text-px-52 { font-size: 52px; }

.text-em-52 { font-size: 52em; }

.text-53 { font-size: 53pt; }

.text-px-53 { font-size: 53px; }

.text-em-53 { font-size: 53em; }

.text-54 { font-size: 54pt; }

.text-px-54 { font-size: 54px; }

.text-em-54 { font-size: 54em; }

.text-55 { font-size: 55pt; }

.text-px-55 { font-size: 55px; }

.text-em-55 { font-size: 55em; }

.text-56 { font-size: 56pt; }

.text-px-56 { font-size: 56px; }

.text-em-56 { font-size: 56em; }

.text-57 { font-size: 57pt; }

.text-px-57 { font-size: 57px; }

.text-em-57 { font-size: 57em; }

.text-58 { font-size: 58pt; }

.text-px-58 { font-size: 58px; }

.text-em-58 { font-size: 58em; }

.text-59 { font-size: 59pt; }

.text-px-59 { font-size: 59px; }

.text-em-59 { font-size: 59em; }

.text-60 { font-size: 60pt; }

.text-px-60 { font-size: 60px; }

.text-em-60 { font-size: 60em; }

.text-61 { font-size: 61pt; }

.text-px-61 { font-size: 61px; }

.text-em-61 { font-size: 61em; }

.text-62 { font-size: 62pt; }

.text-px-62 { font-size: 62px; }

.text-em-62 { font-size: 62em; }

.text-63 { font-size: 63pt; }

.text-px-63 { font-size: 63px; }

.text-em-63 { font-size: 63em; }

.text-64 { font-size: 64pt; }

.text-px-64 { font-size: 64px; }

.text-em-64 { font-size: 64em; }

.text-65 { font-size: 65pt; }

.text-px-65 { font-size: 65px; }

.text-em-65 { font-size: 65em; }

.text-66 { font-size: 66pt; }

.text-px-66 { font-size: 66px; }

.text-em-66 { font-size: 66em; }

.text-67 { font-size: 67pt; }

.text-px-67 { font-size: 67px; }

.text-em-67 { font-size: 67em; }

.text-68 { font-size: 68pt; }

.text-px-68 { font-size: 68px; }

.text-em-68 { font-size: 68em; }

.text-69 { font-size: 69pt; }

.text-px-69 { font-size: 69px; }

.text-em-69 { font-size: 69em; }

.text-70 { font-size: 70pt; }

.text-px-70 { font-size: 70px; }

.text-em-70 { font-size: 70em; }

.text-71 { font-size: 71pt; }

.text-px-71 { font-size: 71px; }

.text-em-71 { font-size: 71em; }

.text-72 { font-size: 72pt; }

.text-px-72 { font-size: 72px; }

.text-em-72 { font-size: 72em; }

.text-73 { font-size: 73pt; }

.text-px-73 { font-size: 73px; }

.text-em-73 { font-size: 73em; }

.text-74 { font-size: 74pt; }

.text-px-74 { font-size: 74px; }

.text-em-74 { font-size: 74em; }

.text-75 { font-size: 75pt; }

.text-px-75 { font-size: 75px; }

.text-em-75 { font-size: 75em; }

.text-76 { font-size: 76pt; }

.text-px-76 { font-size: 76px; }

.text-em-76 { font-size: 76em; }

.text-77 { font-size: 77pt; }

.text-px-77 { font-size: 77px; }

.text-em-77 { font-size: 77em; }

.text-78 { font-size: 78pt; }

.text-px-78 { font-size: 78px; }

.text-em-78 { font-size: 78em; }

.text-79 { font-size: 79pt; }

.text-px-79 { font-size: 79px; }

.text-em-79 { font-size: 79em; }

.text-80 { font-size: 80pt; }

.text-px-80 { font-size: 80px; }

.text-em-80 { font-size: 80em; }

.text-81 { font-size: 81pt; }

.text-px-81 { font-size: 81px; }

.text-em-81 { font-size: 81em; }

.text-82 { font-size: 82pt; }

.text-px-82 { font-size: 82px; }

.text-em-82 { font-size: 82em; }

.text-83 { font-size: 83pt; }

.text-px-83 { font-size: 83px; }

.text-em-83 { font-size: 83em; }

.text-84 { font-size: 84pt; }

.text-px-84 { font-size: 84px; }

.text-em-84 { font-size: 84em; }

.text-85 { font-size: 85pt; }

.text-px-85 { font-size: 85px; }

.text-em-85 { font-size: 85em; }

.text-86 { font-size: 86pt; }

.text-px-86 { font-size: 86px; }

.text-em-86 { font-size: 86em; }

.text-87 { font-size: 87pt; }

.text-px-87 { font-size: 87px; }

.text-em-87 { font-size: 87em; }

.text-88 { font-size: 88pt; }

.text-px-88 { font-size: 88px; }

.text-em-88 { font-size: 88em; }

.text-89 { font-size: 89pt; }

.text-px-89 { font-size: 89px; }

.text-em-89 { font-size: 89em; }

.text-90 { font-size: 90pt; }

.text-px-90 { font-size: 90px; }

.text-em-90 { font-size: 90em; }

.text-91 { font-size: 91pt; }

.text-px-91 { font-size: 91px; }

.text-em-91 { font-size: 91em; }

.text-92 { font-size: 92pt; }

.text-px-92 { font-size: 92px; }

.text-em-92 { font-size: 92em; }

.text-93 { font-size: 93pt; }

.text-px-93 { font-size: 93px; }

.text-em-93 { font-size: 93em; }

.text-94 { font-size: 94pt; }

.text-px-94 { font-size: 94px; }

.text-em-94 { font-size: 94em; }

.text-95 { font-size: 95pt; }

.text-px-95 { font-size: 95px; }

.text-em-95 { font-size: 95em; }

.text-96 { font-size: 96pt; }

.text-px-96 { font-size: 96px; }

.text-em-96 { font-size: 96em; }

.text-97 { font-size: 97pt; }

.text-px-97 { font-size: 97px; }

.text-em-97 { font-size: 97em; }

.text-98 { font-size: 98pt; }

.text-px-98 { font-size: 98px; }

.text-em-98 { font-size: 98em; }

.text-99 { font-size: 99pt; }

.text-px-99 { font-size: 99px; }

.text-em-99 { font-size: 99em; }

.text-100 { font-size: 100pt; }

.text-px-100 { font-size: 100px; }

.text-em-100 { font-size: 100em; }

.text-101 { font-size: 101pt; }

.text-px-101 { font-size: 101px; }

.text-em-101 { font-size: 101em; }

.text-102 { font-size: 102pt; }

.text-px-102 { font-size: 102px; }

.text-em-102 { font-size: 102em; }

.text-103 { font-size: 103pt; }

.text-px-103 { font-size: 103px; }

.text-em-103 { font-size: 103em; }

.text-104 { font-size: 104pt; }

.text-px-104 { font-size: 104px; }

.text-em-104 { font-size: 104em; }

.text-105 { font-size: 105pt; }

.text-px-105 { font-size: 105px; }

.text-em-105 { font-size: 105em; }

.text-106 { font-size: 106pt; }

.text-px-106 { font-size: 106px; }

.text-em-106 { font-size: 106em; }

.text-107 { font-size: 107pt; }

.text-px-107 { font-size: 107px; }

.text-em-107 { font-size: 107em; }

.text-108 { font-size: 108pt; }

.text-px-108 { font-size: 108px; }

.text-em-108 { font-size: 108em; }

.text-109 { font-size: 109pt; }

.text-px-109 { font-size: 109px; }

.text-em-109 { font-size: 109em; }

.text-110 { font-size: 110pt; }

.text-px-110 { font-size: 110px; }

.text-em-110 { font-size: 110em; }

.text-111 { font-size: 111pt; }

.text-px-111 { font-size: 111px; }

.text-em-111 { font-size: 111em; }

.text-112 { font-size: 112pt; }

.text-px-112 { font-size: 112px; }

.text-em-112 { font-size: 112em; }

.text-113 { font-size: 113pt; }

.text-px-113 { font-size: 113px; }

.text-em-113 { font-size: 113em; }

.text-114 { font-size: 114pt; }

.text-px-114 { font-size: 114px; }

.text-em-114 { font-size: 114em; }

.text-115 { font-size: 115pt; }

.text-px-115 { font-size: 115px; }

.text-em-115 { font-size: 115em; }

.text-116 { font-size: 116pt; }

.text-px-116 { font-size: 116px; }

.text-em-116 { font-size: 116em; }

.text-117 { font-size: 117pt; }

.text-px-117 { font-size: 117px; }

.text-em-117 { font-size: 117em; }

.text-118 { font-size: 118pt; }

.text-px-118 { font-size: 118px; }

.text-em-118 { font-size: 118em; }

.text-119 { font-size: 119pt; }

.text-px-119 { font-size: 119px; }

.text-em-119 { font-size: 119em; }

.text-120 { font-size: 120pt; }

.text-px-120 { font-size: 120px; }

.text-em-120 { font-size: 120em; }

.size-square-2 { height: 2px; width: 2px; }

.size-square-4 { height: 4px; width: 4px; }

.size-square-8 { height: 8px; width: 8px; }

.size-square-16 { height: 16px; width: 16px; }

.size-square-32 { height: 32px; width: 32px; }

.size-square-64 { height: 64px; width: 64px; }

.size-square-128 { height: 128px; width: 128px; }

.size-square-256 { height: 256px; width: 256px; }

.size-square-512 { height: 512px; width: 512px; }

.size-square-1024 { height: 1024px; width: 1024px; }

.size-square-2048 { height: 2048px; width: 2048px; }

.size-square-1920 { height: 1920px; width: 1920px; }

.size-square-1600 { height: 1600px; width: 1600px; }

.size-square-1280 { height: 1280px; width: 1280px; }

.size-square-1080 { height: 1080px; width: 1080px; }

.size-square-960 { height: 960px; width: 960px; }

.size-square-720 { height: 720px; width: 720px; }

.size-square-640 { height: 640px; width: 640px; }

.size-square-320 { height: 320px; width: 320px; }
/*# sourceMappingURL=maincs-turbo-turtle-sizing-small.css.map */