@charset "UTF-8";
/*!******************************************************************************** MainCS Turbo Turtle v2 (http://turboturtle.maincreativesolutions.com/maincs-turbo-turtle.full.min.css) Copyright 2014-2016 Main Creative Solutions. This framewok contain classes for a real lot of great things, give it a try. The default font is Lato. Author: Diego Barreto & Marcus Venâncio - Main Creative Solution */
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
a, b, body, button, caption, h1, h2, h3, h4, h5, h6, html, input, label, legend, li, ol, p, small, strong, table, tbody, td, th, thead, ul { font-family: "Lato", sans-serif !important; }

/****** Text Weight ****** */
.text-weight-thin { font-weight: 100; }

.text-weight-light { font-weight: 300; }

.text-weight-normal { font-weight: 400; }

.text-weight-bold { font-weight: 700; }

.text-weight-bolder { font-weight: 900; }

/****** Text Style ****** */
.text-italic { font-style: italic; }

.text-normal { font-style: normal; }

.text-oblique { font-style: oblique; }

/****** Text Align ****** */
.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

.text-justify { text-align: justify; }

/****** Opacity ****** */
.opacity-0 { opacity: 0; }

.opacity-1 { opacity: 0.01; }

.opacity-2 { opacity: 0.02; }

.opacity-3 { opacity: 0.03; }

.opacity-4 { opacity: 0.04; }

.opacity-5 { opacity: 0.05; }

.opacity-6 { opacity: 0.06; }

.opacity-7 { opacity: 0.07; }

.opacity-8 { opacity: 0.08; }

.opacity-9 { opacity: 0.09; }

.opacity-10 { opacity: 0.1; }

.opacity-11 { opacity: 0.11; }

.opacity-12 { opacity: 0.12; }

.opacity-13 { opacity: 0.13; }

.opacity-14 { opacity: 0.14; }

.opacity-15 { opacity: 0.15; }

.opacity-16 { opacity: 0.16; }

.opacity-17 { opacity: 0.17; }

.opacity-18 { opacity: 0.18; }

.opacity-19 { opacity: 0.19; }

.opacity-20 { opacity: 0.2; }

.opacity-21 { opacity: 0.21; }

.opacity-22 { opacity: 0.22; }

.opacity-23 { opacity: 0.23; }

.opacity-24 { opacity: 0.24; }

.opacity-25 { opacity: 0.25; }

.opacity-26 { opacity: 0.26; }

.opacity-27 { opacity: 0.27; }

.opacity-28 { opacity: 0.28; }

.opacity-29 { opacity: 0.29; }

.opacity-30 { opacity: 0.3; }

.opacity-31 { opacity: 0.31; }

.opacity-32 { opacity: 0.32; }

.opacity-33 { opacity: 0.33; }

.opacity-34 { opacity: 0.34; }

.opacity-35 { opacity: 0.35; }

.opacity-36 { opacity: 0.36; }

.opacity-37 { opacity: 0.37; }

.opacity-38 { opacity: 0.38; }

.opacity-39 { opacity: 0.39; }

.opacity-40 { opacity: 0.4; }

.opacity-41 { opacity: 0.41; }

.opacity-42 { opacity: 0.42; }

.opacity-43 { opacity: 0.43; }

.opacity-44 { opacity: 0.44; }

.opacity-45 { opacity: 0.45; }

.opacity-46 { opacity: 0.46; }

.opacity-47 { opacity: 0.47; }

.opacity-48 { opacity: 0.48; }

.opacity-49 { opacity: 0.49; }

.opacity-50 { opacity: 0.5; }

.opacity-51 { opacity: 0.51; }

.opacity-52 { opacity: 0.52; }

.opacity-53 { opacity: 0.53; }

.opacity-54 { opacity: 0.54; }

.opacity-55 { opacity: 0.55; }

.opacity-56 { opacity: 0.56; }

.opacity-57 { opacity: 0.57; }

.opacity-58 { opacity: 0.58; }

.opacity-59 { opacity: 0.59; }

.opacity-60 { opacity: 0.6; }

.opacity-61 { opacity: 0.61; }

.opacity-62 { opacity: 0.62; }

.opacity-63 { opacity: 0.63; }

.opacity-64 { opacity: 0.64; }

.opacity-65 { opacity: 0.65; }

.opacity-66 { opacity: 0.66; }

.opacity-67 { opacity: 0.67; }

.opacity-68 { opacity: 0.68; }

.opacity-69 { opacity: 0.69; }

.opacity-70 { opacity: 0.7; }

.opacity-71 { opacity: 0.71; }

.opacity-72 { opacity: 0.72; }

.opacity-73 { opacity: 0.73; }

.opacity-74 { opacity: 0.74; }

.opacity-75 { opacity: 0.75; }

.opacity-76 { opacity: 0.76; }

.opacity-77 { opacity: 0.77; }

.opacity-78 { opacity: 0.78; }

.opacity-79 { opacity: 0.79; }

.opacity-80 { opacity: 0.8; }

.opacity-81 { opacity: 0.81; }

.opacity-82 { opacity: 0.82; }

.opacity-83 { opacity: 0.83; }

.opacity-84 { opacity: 0.84; }

.opacity-85 { opacity: 0.85; }

.opacity-86 { opacity: 0.86; }

.opacity-87 { opacity: 0.87; }

.opacity-88 { opacity: 0.88; }

.opacity-89 { opacity: 0.89; }

.opacity-90 { opacity: 0.9; }

.opacity-91 { opacity: 0.91; }

.opacity-92 { opacity: 0.92; }

.opacity-93 { opacity: 0.93; }

.opacity-94 { opacity: 0.94; }

.opacity-95 { opacity: 0.95; }

.opacity-96 { opacity: 0.96; }

.opacity-97 { opacity: 0.97; }

.opacity-98 { opacity: 0.98; }

.opacity-99 { opacity: 0.99; }

.opacity-100 { opacity: 1; }

/****** Border Solid ****** */
.border-solid-thin { border: 1px solid; }

.border-solid-normal { border: 3px solid; }

.border-solid-fat { border: 5px solid; }

.border-solid-extra { border: 7px solid; }

/****** Border Dot ****** */
.border-dot-thin { border: 1px dotted; }

.border-dot-normal { border: 3px dotted; }

.border-dot-fat { border: 5px dotted; }

.border-dot-extra { border: 7px dotted; }

/****** Border Solid Left ****** */
.border-left-solid-thin { border-left: 1px solid; }

.border-left-solid-normal { border-left: 3px solid; }

.border-left-solid-fat { border-left: 5px solid; }

.border-left-solid-extra { border-left: 7px solid; }

/****** Border Dot Left****** */
.border-left-dot-thin { border-left: 1px dotted; }

.border-left-dot-normal { border-left: 3px dotted; }

.border-left-dot-fat { border-left: 5px dotted; }

.border-left-dot-extra { border-left: 7px dotted; }

/****** Border Solid Top ****** */
.border-top-solid-thin { border-top: 1px solid; }

.border-top-solid-normal { border-top: 3px solid; }

.border-top-solid-fat { border-top: 5px solid; }

.border-top-solid-extra { border-top: 7px solid; }

/****** Border Dot Top****** */
.border-top-dot-thin { border-top: 1px dotted; }

.border-top-dot-normal { border-top: 3px dotted; }

.border-top-dot-fat { border-top: 5px dotted; }

.border-top-dot-extra { border-top: 7px dotted; }

/****** Border Solid Right ****** */
.border-right-solid-thin { border-right: 1px solid; }

.border-right-solid-normal { border-right: 3px solid; }

.border-right-solid-fat { border-right: 5px solid; }

.border-right-solid-extra { border-right: 7px solid; }

/****** Border Dot Right****** */
.border-right-dot-thin { border-right: 1px dotted; }

.border-right-dot-normal { border-right: 3px dotted; }

.border-right-dot-fat { border-right: 5px dotted; }

.border-right-dot-extra { border-right: 7px dotted; }

/****** Border Solid Bottom ****** */
.border-bottom-solid-thin { border-bottom: 1px solid; }

.border-bottom-solid-normal { border-bottom: 3px solid; }

.border-bottom-solid-fat { border-bottom: 5px solid; }

.border-bottom-solid-extra { border-bottom: 7px solid; }

/****** Border Dot Bottom****** */
.border-bottom-dot-thin { border-bottom: 1px dotted; }

.border-bottom-dot-normal { border-bottom: 3px dotted; }

.border-bottom-dot-fat { border-bottom: 5px dotted; }

.border-bottom-dot-extra { border-bottom: 7px dotted; }

/****** Border Color ****** */
.border-white { border-color: #fff; }

/****** Border Radius ****** */
.border-radius-1 { border-radius: 1px; }

.border-radius-bottom-right-1 { border-bottom-right-radius: 1px; }

.border-radius-bottom-left-1 { border-bottom-left-radius: 1px; }

.border-radius-top-right-1 { border-top-right-radius: 1px; }

.border-radius-top-left-1 { border-top-left-radius: 1px; }

.border-radius-2 { border-radius: 2px; }

.border-radius-bottom-right-2 { border-bottom-right-radius: 2px; }

.border-radius-bottom-left-2 { border-bottom-left-radius: 2px; }

.border-radius-top-right-2 { border-top-right-radius: 2px; }

.border-radius-top-left-2 { border-top-left-radius: 2px; }

.border-radius-3 { border-radius: 3px; }

.border-radius-bottom-right-3 { border-bottom-right-radius: 3px; }

.border-radius-bottom-left-3 { border-bottom-left-radius: 3px; }

.border-radius-top-right-3 { border-top-right-radius: 3px; }

.border-radius-top-left-3 { border-top-left-radius: 3px; }

.border-radius-4 { border-radius: 4px; }

.border-radius-bottom-right-4 { border-bottom-right-radius: 4px; }

.border-radius-bottom-left-4 { border-bottom-left-radius: 4px; }

.border-radius-top-right-4 { border-top-right-radius: 4px; }

.border-radius-top-left-4 { border-top-left-radius: 4px; }

.border-radius-5 { border-radius: 5px; }

.border-radius-bottom-right-5 { border-bottom-right-radius: 5px; }

.border-radius-bottom-left-5 { border-bottom-left-radius: 5px; }

.border-radius-top-right-5 { border-top-right-radius: 5px; }

.border-radius-top-left-5 { border-top-left-radius: 5px; }

.border-radius-6 { border-radius: 6px; }

.border-radius-bottom-right-6 { border-bottom-right-radius: 6px; }

.border-radius-bottom-left-6 { border-bottom-left-radius: 6px; }

.border-radius-top-right-6 { border-top-right-radius: 6px; }

.border-radius-top-left-6 { border-top-left-radius: 6px; }

.border-radius-7 { border-radius: 7px; }

.border-radius-bottom-right-7 { border-bottom-right-radius: 7px; }

.border-radius-bottom-left-7 { border-bottom-left-radius: 7px; }

.border-radius-top-right-7 { border-top-right-radius: 7px; }

.border-radius-top-left-7 { border-top-left-radius: 7px; }

.border-radius-8 { border-radius: 8px; }

.border-radius-bottom-right-8 { border-bottom-right-radius: 8px; }

.border-radius-bottom-left-8 { border-bottom-left-radius: 8px; }

.border-radius-top-right-8 { border-top-right-radius: 8px; }

.border-radius-top-left-8 { border-top-left-radius: 8px; }

.border-radius-9 { border-radius: 9px; }

.border-radius-bottom-right-9 { border-bottom-right-radius: 9px; }

.border-radius-bottom-left-9 { border-bottom-left-radius: 9px; }

.border-radius-top-right-9 { border-top-right-radius: 9px; }

.border-radius-top-left-9 { border-top-left-radius: 9px; }

.border-radius-10 { border-radius: 10px; }

.border-radius-bottom-right-10 { border-bottom-right-radius: 10px; }

.border-radius-bottom-left-10 { border-bottom-left-radius: 10px; }

.border-radius-top-right-10 { border-top-right-radius: 10px; }

.border-radius-top-left-10 { border-top-left-radius: 10px; }

.border-radius-11 { border-radius: 11px; }

.border-radius-bottom-right-11 { border-bottom-right-radius: 11px; }

.border-radius-bottom-left-11 { border-bottom-left-radius: 11px; }

.border-radius-top-right-11 { border-top-right-radius: 11px; }

.border-radius-top-left-11 { border-top-left-radius: 11px; }

.border-radius-12 { border-radius: 12px; }

.border-radius-bottom-right-12 { border-bottom-right-radius: 12px; }

.border-radius-bottom-left-12 { border-bottom-left-radius: 12px; }

.border-radius-top-right-12 { border-top-right-radius: 12px; }

.border-radius-top-left-12 { border-top-left-radius: 12px; }

.border-radius-13 { border-radius: 13px; }

.border-radius-bottom-right-13 { border-bottom-right-radius: 13px; }

.border-radius-bottom-left-13 { border-bottom-left-radius: 13px; }

.border-radius-top-right-13 { border-top-right-radius: 13px; }

.border-radius-top-left-13 { border-top-left-radius: 13px; }

.border-radius-14 { border-radius: 14px; }

.border-radius-bottom-right-14 { border-bottom-right-radius: 14px; }

.border-radius-bottom-left-14 { border-bottom-left-radius: 14px; }

.border-radius-top-right-14 { border-top-right-radius: 14px; }

.border-radius-top-left-14 { border-top-left-radius: 14px; }

.border-radius-15 { border-radius: 15px; }

.border-radius-bottom-right-15 { border-bottom-right-radius: 15px; }

.border-radius-bottom-left-15 { border-bottom-left-radius: 15px; }

.border-radius-top-right-15 { border-top-right-radius: 15px; }

.border-radius-top-left-15 { border-top-left-radius: 15px; }

.border-radius-16 { border-radius: 16px; }

.border-radius-bottom-right-16 { border-bottom-right-radius: 16px; }

.border-radius-bottom-left-16 { border-bottom-left-radius: 16px; }

.border-radius-top-right-16 { border-top-right-radius: 16px; }

.border-radius-top-left-16 { border-top-left-radius: 16px; }

.border-radius-17 { border-radius: 17px; }

.border-radius-bottom-right-17 { border-bottom-right-radius: 17px; }

.border-radius-bottom-left-17 { border-bottom-left-radius: 17px; }

.border-radius-top-right-17 { border-top-right-radius: 17px; }

.border-radius-top-left-17 { border-top-left-radius: 17px; }

.border-radius-18 { border-radius: 18px; }

.border-radius-bottom-right-18 { border-bottom-right-radius: 18px; }

.border-radius-bottom-left-18 { border-bottom-left-radius: 18px; }

.border-radius-top-right-18 { border-top-right-radius: 18px; }

.border-radius-top-left-18 { border-top-left-radius: 18px; }

.border-radius-19 { border-radius: 19px; }

.border-radius-bottom-right-19 { border-bottom-right-radius: 19px; }

.border-radius-bottom-left-19 { border-bottom-left-radius: 19px; }

.border-radius-top-right-19 { border-top-right-radius: 19px; }

.border-radius-top-left-19 { border-top-left-radius: 19px; }

.border-radius-20 { border-radius: 20px; }

.border-radius-bottom-right-20 { border-bottom-right-radius: 20px; }

.border-radius-bottom-left-20 { border-bottom-left-radius: 20px; }

.border-radius-top-right-20 { border-top-right-radius: 20px; }

.border-radius-top-left-20 { border-top-left-radius: 20px; }

.border-radius-21 { border-radius: 21px; }

.border-radius-bottom-right-21 { border-bottom-right-radius: 21px; }

.border-radius-bottom-left-21 { border-bottom-left-radius: 21px; }

.border-radius-top-right-21 { border-top-right-radius: 21px; }

.border-radius-top-left-21 { border-top-left-radius: 21px; }

.border-radius-22 { border-radius: 22px; }

.border-radius-bottom-right-22 { border-bottom-right-radius: 22px; }

.border-radius-bottom-left-22 { border-bottom-left-radius: 22px; }

.border-radius-top-right-22 { border-top-right-radius: 22px; }

.border-radius-top-left-22 { border-top-left-radius: 22px; }

.border-radius-23 { border-radius: 23px; }

.border-radius-bottom-right-23 { border-bottom-right-radius: 23px; }

.border-radius-bottom-left-23 { border-bottom-left-radius: 23px; }

.border-radius-top-right-23 { border-top-right-radius: 23px; }

.border-radius-top-left-23 { border-top-left-radius: 23px; }

.border-radius-24 { border-radius: 24px; }

.border-radius-bottom-right-24 { border-bottom-right-radius: 24px; }

.border-radius-bottom-left-24 { border-bottom-left-radius: 24px; }

.border-radius-top-right-24 { border-top-right-radius: 24px; }

.border-radius-top-left-24 { border-top-left-radius: 24px; }

.border-radius-25 { border-radius: 25px; }

.border-radius-bottom-right-25 { border-bottom-right-radius: 25px; }

.border-radius-bottom-left-25 { border-bottom-left-radius: 25px; }

.border-radius-top-right-25 { border-top-right-radius: 25px; }

.border-radius-top-left-25 { border-top-left-radius: 25px; }

.border-radius-26 { border-radius: 26px; }

.border-radius-bottom-right-26 { border-bottom-right-radius: 26px; }

.border-radius-bottom-left-26 { border-bottom-left-radius: 26px; }

.border-radius-top-right-26 { border-top-right-radius: 26px; }

.border-radius-top-left-26 { border-top-left-radius: 26px; }

.border-radius-27 { border-radius: 27px; }

.border-radius-bottom-right-27 { border-bottom-right-radius: 27px; }

.border-radius-bottom-left-27 { border-bottom-left-radius: 27px; }

.border-radius-top-right-27 { border-top-right-radius: 27px; }

.border-radius-top-left-27 { border-top-left-radius: 27px; }

.border-radius-28 { border-radius: 28px; }

.border-radius-bottom-right-28 { border-bottom-right-radius: 28px; }

.border-radius-bottom-left-28 { border-bottom-left-radius: 28px; }

.border-radius-top-right-28 { border-top-right-radius: 28px; }

.border-radius-top-left-28 { border-top-left-radius: 28px; }

.border-radius-29 { border-radius: 29px; }

.border-radius-bottom-right-29 { border-bottom-right-radius: 29px; }

.border-radius-bottom-left-29 { border-bottom-left-radius: 29px; }

.border-radius-top-right-29 { border-top-right-radius: 29px; }

.border-radius-top-left-29 { border-top-left-radius: 29px; }

.border-radius-30 { border-radius: 30px; }

.border-radius-bottom-right-30 { border-bottom-right-radius: 30px; }

.border-radius-bottom-left-30 { border-bottom-left-radius: 30px; }

.border-radius-top-right-30 { border-top-right-radius: 30px; }

.border-radius-top-left-30 { border-top-left-radius: 30px; }

.border-radius-31 { border-radius: 31px; }

.border-radius-bottom-right-31 { border-bottom-right-radius: 31px; }

.border-radius-bottom-left-31 { border-bottom-left-radius: 31px; }

.border-radius-top-right-31 { border-top-right-radius: 31px; }

.border-radius-top-left-31 { border-top-left-radius: 31px; }

.border-radius-32 { border-radius: 32px; }

.border-radius-bottom-right-32 { border-bottom-right-radius: 32px; }

.border-radius-bottom-left-32 { border-bottom-left-radius: 32px; }

.border-radius-top-right-32 { border-top-right-radius: 32px; }

.border-radius-top-left-32 { border-top-left-radius: 32px; }

.border-radius-33 { border-radius: 33px; }

.border-radius-bottom-right-33 { border-bottom-right-radius: 33px; }

.border-radius-bottom-left-33 { border-bottom-left-radius: 33px; }

.border-radius-top-right-33 { border-top-right-radius: 33px; }

.border-radius-top-left-33 { border-top-left-radius: 33px; }

.border-radius-34 { border-radius: 34px; }

.border-radius-bottom-right-34 { border-bottom-right-radius: 34px; }

.border-radius-bottom-left-34 { border-bottom-left-radius: 34px; }

.border-radius-top-right-34 { border-top-right-radius: 34px; }

.border-radius-top-left-34 { border-top-left-radius: 34px; }

.border-radius-35 { border-radius: 35px; }

.border-radius-bottom-right-35 { border-bottom-right-radius: 35px; }

.border-radius-bottom-left-35 { border-bottom-left-radius: 35px; }

.border-radius-top-right-35 { border-top-right-radius: 35px; }

.border-radius-top-left-35 { border-top-left-radius: 35px; }

.border-radius-36 { border-radius: 36px; }

.border-radius-bottom-right-36 { border-bottom-right-radius: 36px; }

.border-radius-bottom-left-36 { border-bottom-left-radius: 36px; }

.border-radius-top-right-36 { border-top-right-radius: 36px; }

.border-radius-top-left-36 { border-top-left-radius: 36px; }

.border-radius-37 { border-radius: 37px; }

.border-radius-bottom-right-37 { border-bottom-right-radius: 37px; }

.border-radius-bottom-left-37 { border-bottom-left-radius: 37px; }

.border-radius-top-right-37 { border-top-right-radius: 37px; }

.border-radius-top-left-37 { border-top-left-radius: 37px; }

.border-radius-38 { border-radius: 38px; }

.border-radius-bottom-right-38 { border-bottom-right-radius: 38px; }

.border-radius-bottom-left-38 { border-bottom-left-radius: 38px; }

.border-radius-top-right-38 { border-top-right-radius: 38px; }

.border-radius-top-left-38 { border-top-left-radius: 38px; }

.border-radius-39 { border-radius: 39px; }

.border-radius-bottom-right-39 { border-bottom-right-radius: 39px; }

.border-radius-bottom-left-39 { border-bottom-left-radius: 39px; }

.border-radius-top-right-39 { border-top-right-radius: 39px; }

.border-radius-top-left-39 { border-top-left-radius: 39px; }

.border-radius-40 { border-radius: 40px; }

.border-radius-bottom-right-40 { border-bottom-right-radius: 40px; }

.border-radius-bottom-left-40 { border-bottom-left-radius: 40px; }

.border-radius-top-right-40 { border-top-right-radius: 40px; }

.border-radius-top-left-40 { border-top-left-radius: 40px; }

.border-radius-41 { border-radius: 41px; }

.border-radius-bottom-right-41 { border-bottom-right-radius: 41px; }

.border-radius-bottom-left-41 { border-bottom-left-radius: 41px; }

.border-radius-top-right-41 { border-top-right-radius: 41px; }

.border-radius-top-left-41 { border-top-left-radius: 41px; }

.border-radius-42 { border-radius: 42px; }

.border-radius-bottom-right-42 { border-bottom-right-radius: 42px; }

.border-radius-bottom-left-42 { border-bottom-left-radius: 42px; }

.border-radius-top-right-42 { border-top-right-radius: 42px; }

.border-radius-top-left-42 { border-top-left-radius: 42px; }

.border-radius-43 { border-radius: 43px; }

.border-radius-bottom-right-43 { border-bottom-right-radius: 43px; }

.border-radius-bottom-left-43 { border-bottom-left-radius: 43px; }

.border-radius-top-right-43 { border-top-right-radius: 43px; }

.border-radius-top-left-43 { border-top-left-radius: 43px; }

.border-radius-44 { border-radius: 44px; }

.border-radius-bottom-right-44 { border-bottom-right-radius: 44px; }

.border-radius-bottom-left-44 { border-bottom-left-radius: 44px; }

.border-radius-top-right-44 { border-top-right-radius: 44px; }

.border-radius-top-left-44 { border-top-left-radius: 44px; }

.border-radius-45 { border-radius: 45px; }

.border-radius-bottom-right-45 { border-bottom-right-radius: 45px; }

.border-radius-bottom-left-45 { border-bottom-left-radius: 45px; }

.border-radius-top-right-45 { border-top-right-radius: 45px; }

.border-radius-top-left-45 { border-top-left-radius: 45px; }

.border-radius-46 { border-radius: 46px; }

.border-radius-bottom-right-46 { border-bottom-right-radius: 46px; }

.border-radius-bottom-left-46 { border-bottom-left-radius: 46px; }

.border-radius-top-right-46 { border-top-right-radius: 46px; }

.border-radius-top-left-46 { border-top-left-radius: 46px; }

.border-radius-47 { border-radius: 47px; }

.border-radius-bottom-right-47 { border-bottom-right-radius: 47px; }

.border-radius-bottom-left-47 { border-bottom-left-radius: 47px; }

.border-radius-top-right-47 { border-top-right-radius: 47px; }

.border-radius-top-left-47 { border-top-left-radius: 47px; }

.border-radius-48 { border-radius: 48px; }

.border-radius-bottom-right-48 { border-bottom-right-radius: 48px; }

.border-radius-bottom-left-48 { border-bottom-left-radius: 48px; }

.border-radius-top-right-48 { border-top-right-radius: 48px; }

.border-radius-top-left-48 { border-top-left-radius: 48px; }

.border-radius-49 { border-radius: 49px; }

.border-radius-bottom-right-49 { border-bottom-right-radius: 49px; }

.border-radius-bottom-left-49 { border-bottom-left-radius: 49px; }

.border-radius-top-right-49 { border-top-right-radius: 49px; }

.border-radius-top-left-49 { border-top-left-radius: 49px; }

.border-radius-50 { border-radius: 50px; }

.border-radius-bottom-right-50 { border-bottom-right-radius: 50px; }

.border-radius-bottom-left-50 { border-bottom-left-radius: 50px; }

.border-radius-top-right-50 { border-top-right-radius: 50px; }

.border-radius-top-left-50 { border-top-left-radius: 50px; }

/****** HRow ****** */
.z-pos-0 { z-index: 0 !important; }

.hrow-0 { width: 100%; height: 0px; }

.z-pos-1 { z-index: 1 !important; }

.hrow-1 { width: 100%; height: 1px; }

.z-pos-2 { z-index: 2 !important; }

.hrow-2 { width: 100%; height: 2px; }

.z-pos-3 { z-index: 3 !important; }

.hrow-3 { width: 100%; height: 3px; }

.z-pos-4 { z-index: 4 !important; }

.hrow-4 { width: 100%; height: 4px; }

.z-pos-5 { z-index: 5 !important; }

.hrow-5 { width: 100%; height: 5px; }

.z-pos-6 { z-index: 6 !important; }

.hrow-6 { width: 100%; height: 6px; }

.z-pos-7 { z-index: 7 !important; }

.hrow-7 { width: 100%; height: 7px; }

.z-pos-8 { z-index: 8 !important; }

.hrow-8 { width: 100%; height: 8px; }

.z-pos-9 { z-index: 9 !important; }

.hrow-9 { width: 100%; height: 9px; }

.z-pos-10 { z-index: 10 !important; }

.hrow-10 { width: 100%; height: 10px; }

/****** Cursor ****** */
.cursor-all-scroll { cursor: all-scroll; }

.cursor-cell { cursor: cell; }

.cursor-context-menu { cursor: context-menu; }

.cursor-col-resize { cursor: col-resize; }

.cursor-copy { cursor: copy; }

.cursor-crosshair { cursor: crosshair; }

.cursor-e-resize { cursor: e-resize; }

.cursor-ew-resize { cursor: ew-resize; }

.cursor-grab { cursor: -webkit-grab; cursor: grab; }

.cursor-grabbing { cursor: -webkit-grabbing; cursor: grabbing; }

.cursor-help { cursor: help; }

.cursor-move { cursor: move; }

.cursor-n-resize { cursor: n-resize; }

.cursor-ne-resize { cursor: ne-resize; }

.cursor-nesw-resize { cursor: nesw-resize; }

.cursor-ns-resize { cursor: ns-resize; }

.cursor-nw-resize { cursor: nw-resize; }

.cursor-nwse-resize { cursor: nwse-resize; }

.cursor-no-drop { cursor: no-drop; }

.cursor-none { cursor: none; }

.cursor-not-allowed { cursor: not-allowed; }

.cursor-pointer { cursor: pointer; }

.cursor-progress { cursor: progress; }

.cursor-row-resize { cursor: row-resize; }

.cursor-s-resize { cursor: s-resize; }

.cursor-se-resize { cursor: se-resize; }

.cursor-sw-resize { cursor: sw-resize; }

.cursor-text { cursor: text; }

.cursor-vertical-text { cursor: vertical-text; }

.cursor-w-resize { cursor: w-resize; }

.cursor-wait { cursor: wait; }

.cursor-zoom-in { cursor: zoom-in; }

.cursor-zoom-out { cursor: zoom-out; }
/*# sourceMappingURL=maincs-turbo-turtle-base.css.map */