/*************************************************************************************************** FLEXBOX TUTORIAL****************************************** A flexbox-container needs to have a specified height to position the elements.     ****** If you want to use a relative flexbox container, it needs to be inside a sized     ****** div container.                                                                     ****** To use the general flexbox container, you need to specify the div size for it      ****** to work.                                                                           ****** So if you don't want to put a div inside a div inside another div and another      ****** use the sized flex containers (.flex-container-##).                                ****** FLEXBOX TUTORIAL****************************************** */
/****** FlexBox General ****** */
.flex-container { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

/****** FlexBox Items  Justify Items****** */
.flex-container-justify-center { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.flex-container-justify-start { -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }

.flex-container-justify-end { -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }

.flex-container-justify-between { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.flex-container-justify-around { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }

/****** FlexBox Container align item ****** */
.flex-container-align-baseline { -webkit-box-align: baseline; -webkit-align-items: baseline; -ms-flex-align: baseline; -ms-grid-row-align: baseline; align-items: baseline; }

.flex-container-align-start { -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; -ms-grid-row-align: flex-start; align-items: flex-start; }

.flex-container-align-end { -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; -ms-grid-row-align: flex-end; align-items: flex-end; }

.flex-container-align-stretch { -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; -ms-grid-row-align: stretch; align-items: stretch; }

.flex-container-align-center { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; -ms-grid-row-align: center; align-items: center; }

/****** FlexBox Items ****** */
.flex-item-top { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; }

.flex-item-center { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; }

.flex-item-bottom { -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }

.flex-item-stretch { -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; }

/****** FlexBox Items Grow/Shrink ****** */
.flex-grow-1 { -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; }

.flex-shrink-1 { -webkit-flex-shrink: 1; -ms-flex-negative: 1; flex-shrink: 1; }

.flex-grow-2 { -webkit-box-flex: 2; -webkit-flex-grow: 2; -ms-flex-positive: 2; flex-grow: 2; }

.flex-shrink-2 { -webkit-flex-shrink: 2; -ms-flex-negative: 2; flex-shrink: 2; }

.flex-grow-3 { -webkit-box-flex: 3; -webkit-flex-grow: 3; -ms-flex-positive: 3; flex-grow: 3; }

.flex-shrink-3 { -webkit-flex-shrink: 3; -ms-flex-negative: 3; flex-shrink: 3; }

.flex-grow-4 { -webkit-box-flex: 4; -webkit-flex-grow: 4; -ms-flex-positive: 4; flex-grow: 4; }

.flex-shrink-4 { -webkit-flex-shrink: 4; -ms-flex-negative: 4; flex-shrink: 4; }

.flex-grow-5 { -webkit-box-flex: 5; -webkit-flex-grow: 5; -ms-flex-positive: 5; flex-grow: 5; }

.flex-shrink-5 { -webkit-flex-shrink: 5; -ms-flex-negative: 5; flex-shrink: 5; }

.flex-grow-6 { -webkit-box-flex: 6; -webkit-flex-grow: 6; -ms-flex-positive: 6; flex-grow: 6; }

.flex-shrink-6 { -webkit-flex-shrink: 6; -ms-flex-negative: 6; flex-shrink: 6; }

.flex-grow-7 { -webkit-box-flex: 7; -webkit-flex-grow: 7; -ms-flex-positive: 7; flex-grow: 7; }

.flex-shrink-7 { -webkit-flex-shrink: 7; -ms-flex-negative: 7; flex-shrink: 7; }

.flex-grow-8 { -webkit-box-flex: 8; -webkit-flex-grow: 8; -ms-flex-positive: 8; flex-grow: 8; }

.flex-shrink-8 { -webkit-flex-shrink: 8; -ms-flex-negative: 8; flex-shrink: 8; }

.flex-grow-9 { -webkit-box-flex: 9; -webkit-flex-grow: 9; -ms-flex-positive: 9; flex-grow: 9; }

.flex-shrink-9 { -webkit-flex-shrink: 9; -ms-flex-negative: 9; flex-shrink: 9; }

.flex-grow-10 { -webkit-box-flex: 10; -webkit-flex-grow: 10; -ms-flex-positive: 10; flex-grow: 10; }

.flex-shrink-10 { -webkit-flex-shrink: 10; -ms-flex-negative: 10; flex-shrink: 10; }

.flex-grow-11 { -webkit-box-flex: 11; -webkit-flex-grow: 11; -ms-flex-positive: 11; flex-grow: 11; }

.flex-shrink-11 { -webkit-flex-shrink: 11; -ms-flex-negative: 11; flex-shrink: 11; }

.flex-grow-12 { -webkit-box-flex: 12; -webkit-flex-grow: 12; -ms-flex-positive: 12; flex-grow: 12; }

.flex-shrink-12 { -webkit-flex-shrink: 12; -ms-flex-negative: 12; flex-shrink: 12; }

.flex-grow-13 { -webkit-box-flex: 13; -webkit-flex-grow: 13; -ms-flex-positive: 13; flex-grow: 13; }

.flex-shrink-13 { -webkit-flex-shrink: 13; -ms-flex-negative: 13; flex-shrink: 13; }

.flex-grow-14 { -webkit-box-flex: 14; -webkit-flex-grow: 14; -ms-flex-positive: 14; flex-grow: 14; }

.flex-shrink-14 { -webkit-flex-shrink: 14; -ms-flex-negative: 14; flex-shrink: 14; }

.flex-grow-15 { -webkit-box-flex: 15; -webkit-flex-grow: 15; -ms-flex-positive: 15; flex-grow: 15; }

.flex-shrink-15 { -webkit-flex-shrink: 15; -ms-flex-negative: 15; flex-shrink: 15; }

.flex-grow-16 { -webkit-box-flex: 16; -webkit-flex-grow: 16; -ms-flex-positive: 16; flex-grow: 16; }

.flex-shrink-16 { -webkit-flex-shrink: 16; -ms-flex-negative: 16; flex-shrink: 16; }

.flex-grow-17 { -webkit-box-flex: 17; -webkit-flex-grow: 17; -ms-flex-positive: 17; flex-grow: 17; }

.flex-shrink-17 { -webkit-flex-shrink: 17; -ms-flex-negative: 17; flex-shrink: 17; }

.flex-grow-18 { -webkit-box-flex: 18; -webkit-flex-grow: 18; -ms-flex-positive: 18; flex-grow: 18; }

.flex-shrink-18 { -webkit-flex-shrink: 18; -ms-flex-negative: 18; flex-shrink: 18; }

.flex-grow-19 { -webkit-box-flex: 19; -webkit-flex-grow: 19; -ms-flex-positive: 19; flex-grow: 19; }

.flex-shrink-19 { -webkit-flex-shrink: 19; -ms-flex-negative: 19; flex-shrink: 19; }

.flex-grow-20 { -webkit-box-flex: 20; -webkit-flex-grow: 20; -ms-flex-positive: 20; flex-grow: 20; }

.flex-shrink-20 { -webkit-flex-shrink: 20; -ms-flex-negative: 20; flex-shrink: 20; }

/****** FlexBox Direction ****** */
.flex-direction-row { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; }

.flex-direction-row-reverse { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }

.flex-direction-column { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.flex-direction-column-reverse { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -webkit-flex-direction: column-reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; }

/****** FlexBox Wrap ****** */
.flex-nowrap { -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.flex-wrap { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.flex-wrap-reverse { -webkit-flex-wrap: wrap-reverse; -ms-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }
/*# sourceMappingURL=maincs-turbo-turtle-flex.css.map */